---
layout: ifsc-base.njk
title: Labh
---
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<div id="nav-menu" class="nav-menu">
    <ul>
      <li><a href="http://labh.io/#" >Home</a></li>
      <li><a href="http://labh.io/#aboutsection">About us</a></li>
      <li><a href="http://labh.io/#pitch">Methodology</a></li>
      <li><a href="https://blog.labh.io">Blog</a></li>
      <li><a href="https://tawk.to/labh">Contact us</a></li>
    </ul>
  </div>


<div class="main-container">
    <div class="logo-title">
        <img src="/assets/ifsc_head.svg" alt="edge-image" />
          <span class="logo-text"><h1>Need an IFSC Code? We’ve Got You Covered</h1></span>
    </div>
      
      <p class="pin-para">Enter your bank name and branch location (state, city, or area) to quickly get the correct IFSC code.Simply select the right options from the dropdowns, and we’ll fetch the details for you.</p>
      <p class="ifsc">Check IFSC Code</p>
        
      <div class="custom-select-wrapper">
        <select id="location">
          <option value="">Location</option>
        </select>
        <img src="/assets/dropdown.svg" class="custom-arrow" alt="dropdown arrow" />
      </div>
      
      <div class="custom-select-wrapper">
        <select id="bank">
          <option value="">Bank Name</option>
        </select>
        <img src="/assets/dropdown.svg" class="custom-arrow" alt="dropdown arrow" />
      </div>
      
      

    <div class="search-results-container">
        <div class="search-results">
            <p class="result1"><b>Coromandel IFSC code of ICICI Bank</b></p>
        </div>
        <div class="info-grid">
            <div><span class="f1">BRANCH</span><strong>Delhi Nagrik Sehkari Bank IMPS</strong></div>
            <div><span class="f2">IFSC</span><strong>YESB0DNB002</strong></div>
            
            <div><span class="f1">CENTRE</span><strong>DELHI</strong></div>
            <div><span class="f2">BANK</span><strong>Delhi Nagrik Sehkari Bank</strong></div>
            
            <div><span class="f1">DISTRICT</span><strong>DELHI</strong></div>
            <div><span class="f2">BANKCODE</span><strong>DENS</strong></div>
            
            <div><span class="f1">STATE</span><strong>MAHARASHTRA</strong></div>
            <div><span class="f2">ADDRESS</span><strong>720  NEAR GHANTAGHAR, SUBZI MANDI, DELHI - 110007</strong></div>
            
            <div><span class="f1">City</span><strong>MUMBAI</strong></div>
            
            <div><span class="f1">Circle</span><strong>West Bengal</strong></div>
        </div>
    </div>
          
    <div class="pincode-info">  
        <p class="result2"><b>Coromandel IFSC code of ICICI Bank</b></p>
     
        <div class="info-table">
              <div><span>BRANCH</span><strong>Delhi Nagrik Sehkari Bank IMPS</strong></div>
             <div><span>CENTRE</span><strong>DELHI</strong></div>
              <div><span>DISTRICT</span><strong>DELHI</strong></div>
             <div><span>STATE</span><strong>MAHARASHTRA</strong></div>
             <div><span>City</span><strong>MUMBAI</strong></div>
             <div><span>Circle</span><strong>West Bengal</strong></div>
             <div><span>IFSC</span><strong>YESB0DNB002</strong></div>
             <div><span>BANK</span><strong>Delhi Nagrik Sehkari Bank</strong></div>
             <div><span>BANKCODE</span><strong>DENS</strong></div>
              <div><span>ADDRESS</span><strong>720  NEAR GHANTAGHAR, SUBZI MANDI, DELHI - 110007</strong></div>
       </div>
    </div>
</div>



  