---
layout: calculator-base.njk
title: Car Loan Calculator
menu: '
    <li>⦿</li>
    <li><a href="index.html">Calculator</a></li>
    <li><a href="#" class="active">Car Loan Calculator</a></li>
'
---

<div class="main-container">
    <div class="contents">
        <h1>Car Loan calculators</h1>
        <p>Calculate EMIs and interest payable for Car loans.</p>
    </div>
    <div class="calculator-card pf-calculator car-loan-calculator">
        <img src="/assets/card-edge-image.svg" alt="edge-image" />
        <img src="/assets/card-edge-image.svg" alt="edge-image" />
        <div class="calculator-card-contents">
            <div>
                <div class="cal-content">
                    <label>Loan Amount</label>
                    <span id="loan-slider-value">Rs.200000</span>
                </div>
                <div class="input-limits">
                    <div>1 Lac</div>
                    <div>1 Crore</div>
                </div>
                <input
                    type="range"
                    id="loan-slider"
                    min="100000"
                    max="10000000"
                    step="100000"
                    value="200000"
                />

                <div class="cal-content">
                    <label>Illustrative Interest Rate (p.a)*</label>
                    <span id="interest-slider-value">10%</span>
                </div>
                <div class="input-limits">
                    <div>1%</div>
                    <div>30%</div>
                </div>
                <input
                    type="range"
                    id="interest-slider"
                    min="1"
                    max="30"
                    step="1"
                    value="10"
                />

                <div class="cal-content">
                    <label>Loan Tenure(Months)</label>
                    <span id="tenure-slider-value">23</span>
                </div>
                <div class="input-limits">
                    <div>12</div>
                    <div>120</div>
                </div>
                <input
                    type="range"
                    id="tenure-slider"
                    min="12"
                    max="120"
                    step="1"
                    value="23"
                />
            </div>
            <div>
                <div class="graph-container">
                    <div class="graph"></div>
                    <div class="legend">
                        <div class="legend-item">
                            <div
                                class="legend-color"
                                style="background-color: #9a5ced"
                            ></div>
                            <span
                                >Principal Amt:
                                <span id="principal-amt"
                                    >Rs.1,18,000</span
                                ></span
                            >
                        </div>
                        <div class="legend-item">
                            <div
                                class="legend-color"
                                style="background-color: #e8d8fd"
                            ></div>
                            <span
                                >Interest Amt:
                                <span id="interest-amt">Rs.4,522</span></span
                            >
                        </div>
                    </div>

                    <div class="cal-content">
                        <label>Total Payable: </label>
                        <span id="total-amount">Rs.1,22,522</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="guide">
        <h2>How to Use?</h2>
        <ul>
            <li>Enter loan amount, tenure, and interest rate.</li>
            <li>Calculate EMI and total payable interest.</li>
        </ul>

        <h2>Formula</h2>
        <p class="formula">EMI = [P × r × (1 + r)^n] / [(1 + r)^n – 1]</p>
        <table>
            <tr>
                <td>EMI (Equated Monthly Installment)</td>
                <td>The fixed monthly repayment amount.</td>
            </tr>
            <tr>
                <td>P</td>
                <td>Principal amount of the home loan.</td>
            </tr>
            <tr>
                <td>r</td>
                <td>
                    Monthly interest rate (annual interest rate divided by 12).
                </td>
            </tr>
            <tr>
                <td>n</td>
                <td>
                    Total number of monthly installments (loan tenure in months)
                </td>
            </tr>
        </table>
        <h2>Advantages</h2>
        <ul>
            <li>Accurate EMI planning</li>
            <li>Transparent interest calculation</li>
            <li>Helps budgeting</li>
            <li>Easy comparison of loan offers</li>
        </ul>
        <h2>FAQ's</h2>

        <div class="faq-container" style="background-color: transparent">
            <div class="faq-item">
                <div class="faq-question">
                    <span>What affects EMI? </span>
                    <span class="arrow"
                        ><img src="/assets/Frame 877 (1).png"
                    /></span>
                </div>
                <div class="faq-answer">
                    <div class="content">
                        <p style="text-align: left">
                            Labh is a research team that builds custom groups of
                            mutual funds, designed to grow your money based on
                            how much risk you’re comfortable taking. We do the
                            research so you can invest with confidence.
                        </p>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <span>Can I repay early? </span>
                    <span class="arrow"
                        ><img src="/assets/Frame 877 (1).png"
                    /></span>
                </div>
                <div class="faq-answer">
                    <div class="content">
                        <p style="text-align: left">
                            Labh is a research team that builds custom groups of
                            mutual funds, designed to grow your money based on
                            how much risk you’re comfortable taking. We do the
                            research so you can invest with confidence.
                        </p>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <span>Is personal loan interest tax-deductible? </span>
                    <span class="arrow"
                        ><img src="/assets/Frame 877 (1).png"
                    /></span>
                </div>
                <div class="faq-answer">
                    <div class="content">
                        <p style="text-align: left">
                            Labh is a research team that builds custom groups of
                            mutual funds, designed to grow your money based on
                            how much risk you’re comfortable taking. We do the
                            research so you can invest with confidence.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moblie-search-bar-container">
        <div
            id="search-results"
            class="cards display-none margin-bottom-none"
        ></div>
        <div class="black-container">
            <div class="mobile-search-bar">
                <input
                    type="text"
                    placeholder="Search for Calculator"
                    id="search2"
                />
            </div>
        </div>
    </div>
</div>

<script>

    function updateChart(interestPercentage) {
        const chart = document.querySelector(".graph");
        chart.style.background = `conic-gradient(
            #9A5CED 0% ${interestPercentage}%,
            #E8D8FD ${interestPercentage}% 100%
            )`;
    }
    function calculateEMI(principal, annualInterestRate, tenureInMonths) {
        let monthlyInterestRate = annualInterestRate / (12 * 100);
        let emi =
            (principal *
                monthlyInterestRate *
                Math.pow(1 + monthlyInterestRate, tenureInMonths)) /
            (Math.pow(1 + monthlyInterestRate, tenureInMonths) - 1);
        return emi.toFixed(2);
    }

    function updateValues() {
        const loanAmount = $("#loan-slider").val();
        const interest = $("#interest-slider").val();
        const tenure = $("#tenure-slider").val();

        const emi = calculateEMI(loanAmount, interest, tenure);

        const totalPayable = emi * tenure;
        const interestAmount = totalPayable - loanAmount;
        const interestPercentage = (interestAmount / totalPayable) * 100;

        $("#monthly-emi").text(`Rs.${parseInt(emi).toLocaleString("en-IN")}`);
        $("#principal-amt").text(`Rs.${loanAmount.toLocaleString("en-IN")}`);
        $("#interest-amt").text(
            `Rs.${parseInt(interestAmount).toLocaleString("en-IN")}`
        );
        $("#total-amount").text(
            `Rs.${parseInt(totalPayable).toLocaleString("en-IN")}`
        );
        updateChart(interestPercentage);
    }

    $(document).ready(function () {
        function updateSliderBackground(slider) {
            if (slider.id == "loan-slider") {
                $(`#${slider.id}-value`).text(
                    `Rs.${parseInt(slider.value).toLocaleString("en-IN")}`
                );
            } else if (
                slider.id == "interest-slider" ||
                slider.id == "tenure-slider"
            ) {
                $(`#${slider.id}-value`).text(`${slider.value} %`);
            } else if (slider.id == "age-slider") {
                $(`#${slider.id}-value`).text(`${slider.value} Years`);
            }

            const value =
                ((slider.value - slider.min) / (slider.max - slider.min)) * 100;
            $(slider).css(
                "background",
                `linear-gradient(to right, #9b5de5 ${value}%, #d3bfff ${value}%)`
            );
        }

        $("#loan-slider, #interest-slider, #tenure-slider")
            .each(function () {
                updateSliderBackground(this);
                updateValues();
            })
            .on("input", function () {
                updateSliderBackground(this);
                updateValues();
            });
    });
</script>
