---
layout: calculator-base.njk
title: SCSS Calculator - Senior Citizen Savings Scheme | Labh
meta: '
<meta name="description" content="Use the SCSS Calculator by Labh to estimate your returns under the Senior Citizen Savings Scheme. Get details on interest rates, eligibility, maturity amount, and tax benefits.">
<meta name="keywords" content="SCSS Calculator, Senior Citizen Savings Scheme, SCSS Interest Rate, SCSS Eligibility, SCSS Maturity, SCSS Tax Benefits, Investment for Senior Citizens, Labh SCSS Calculator">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://labh.io/calculator/senior_citizen_savings_scheme">
<meta property="og:title" content="SCSS Calculator - Senior Citizen Savings Scheme | Labh">
<meta property="og:description" content="Calculate your returns from SCSS using Labh’s calculator. Get complete details on interest, maturity, and eligibility for senior citizens in India.">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://labh.io/calculator/senior_citizen_savings_scheme">
<meta name="twitter:title" content="SCSS Calculator - Senior Citizen Savings Scheme | Labh">
<meta name="twitter:description" content="Estimate your SCSS returns with Labh’s smart calculator. Designed for senior citizens to understand maturity and benefits.">
'
menu: '
    <li><a href="/calculator/">Calculator</a></li>
    <li><img src="/assets/dote-active.svg" alt="dote-active"></li>
    <li><a href="#" class="active">Senior Citizen Savings Scheme Calculator</a></li>
'
---

<div class="main-container">
    <div class="contents">
        <h1>Senior Citizen Savings Scheme Calculator</h1>
        <p>
            The SCSS Calculator helps retirees plan their income by calculating
            interest earned on fixed deposits under this scheme.
        </p>
    </div>
    <div
        class="calculator-card sip-calculator d-flex justify-content-between align-items-center"
    >
        <img src="/assets/card-edge-image.svg" alt="edge-image" />
        <img src="/assets/card-edge-image.svg" alt="edge-image" />

        <div class="calculator-card-contents w-100">
            <div>
                <div class="sip-content">
                    <div class="cal-content">
                        <label>Yearly Investment</label>
                        <span id="investment-slider-value">Rs.500</span>
                    </div>
                    <input
                        type="range"
                        id="investment-slider"
                        min="500"
                        max="150000"
                        step="500"
                        value="5000"
                    />
                </div>

                <div class="cal-content">
                    <label>Rate of interest %</label>
                    <div class="rate-container">8.2%</div>
                </div>
                <div class="cal-content">
                    <label>Tenure in years</label>
                    <div class="rate-container">5</div>
                </div>
            </div>

            <div>
                <div class="graph-container d-flex justify-content-center align-items-center">
                    <div class="graph"></div>
                    <div class="legend">
                        <div class="legend-item">
                            <div
                                class="legend-color"
                                style="background-color: #9a5ced"
                            ></div>
                            <span>Est. Returns</span>
                        </div>
                        <div class="legend-item">
                            <div
                                class="legend-color"
                                style="background-color: #e8d8fd"
                            ></div>
                            <span>Invested amt</span>
                        </div>
                    </div>
                </div>

                <div class="cal-content result">
                    <label>Invested Amt</label>
                    <span id="invested-amt">-</span>
                </div>
                <div class="cal-content result">
                    <label>Quarterly Interest</label>
                    <span id="quarterly-interest">-</span>
                </div>
                <div class="cal-content result">
                    <label>Total Interest</label>
                    <span id="est-returns">-</span>
                </div>
                <hr class="calculator-hr" />
                <div class="cal-content result">
                    <label>Total Value</label>
                    <span id="total-value">-</span>
                </div>
            </div>
        </div>
    </div>
    <div class="guide">
        <h2>How to Use?</h2>
        <ul>
            <li>Enter your investment amount.</li>
            <li>Get quarterly interest payout values.</li>
        </ul>

        <h2>Formula</h2>
        <p class="formula">
            $$ \text{Quarterly Interest} = \frac{P \times R}{4 \times 100} $$ $$
            \text{Total Interest} = \frac{P \times R \times T}{100} $$
        </p>

        <table>
            <tr>
                <td>P :</td>
                <td>Principal amount.</td>
            </tr>
            <tr>
                <td>r :</td>
                <td>Expected Quarterly return rate.</td>
            </tr>
            <tr>
                <td>T :</td>
                <td>Tenure</td>
            </tr>
        </table>

        <h2>Advantages</h2>
        <ul>
            <li>Guaranteed income for seniors</li>
            <li>Tax benefit under 80C</li>
            <li>Government-backed safety</li>
        </ul>
        <h2>FAQ's</h2>

        <div class="faq-container" style="background-color: transparent">
            <div class="faq-item">
                <div class="faq-question">
                    <span>Can I open multiple SCSS accounts?</span>
                    <span class="arrow"
                        ><img src="/assets/Frame 877 (1).png"
                    /></span>
                </div>
                <div class="faq-answer">
                    <div class="content">
                        <p style="text-align: left">
                            Yes, but within the total ₹30 lakh limit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <span> Is early withdrawal allowed?</span>
                    <span class="arrow"
                        ><img src="/assets/Frame 877 (1).png"
                    /></span>
                </div>
                <div class="faq-answer">
                    <div class="content">
                        <p style="text-align: left">
                            Yes, with applicable penalties.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moblie-search-bar-container">
        <div
            id="search-results"
            class="cards display-none margin-bottom-none"
        ></div>
        <div class="black-container">
            <div class="mobile-search-bar">
                <input
                    type="text"
                    placeholder="Search for Calculator"
                    id="search2"
                />
            </div>
        </div>
    </div>
</div>

<script>
    function calculateQuarterlyInterest(principal, annualRate) {
        return (principal * annualRate) / (4 * 100);
    }
    function calculateTotalInterest(principal, annualRate, years = 5) {
        return (principal * annualRate * years) / 100;
    }

    function updateChart(returnsPercentage) {
        const chart = document.querySelector(".graph");
        chart.style.background = `conic-gradient(
            #E8D8FD 0% ${returnsPercentage}%,
            #9A5CED ${returnsPercentage}% 100%
            )`;
    }
    function updateValues() {
        const yearlyInvestment = $("#investment-slider").val();
        const interestRate = 8.2;
        const tenure = 5;
        let investedAmount = yearlyInvestment * 5;

        const returns = calculateTotalInterest(yearlyInvestment, interestRate, tenure);
        const quarterlyInterest = calculateQuarterlyInterest(yearlyInvestment, interestRate);

        const totalReturns = returns + investedAmount;

        const returnsPercentage = (investedAmount / totalReturns) * 100;

        updateChart(returnsPercentage);
        $("#invested-amt").text(`Rs.${investedAmount.toLocaleString("en-IN")}`);
        $("#est-returns").text(`Rs.${returns.toLocaleString("en-IN")}`);
        $("#quarterly-interest").text(`Rs.${quarterlyInterest.toLocaleString("en-IN")}`);
        $("#total-value").text(`Rs.${totalReturns.toLocaleString("en-IN")}`);
    }

    $(document).ready(function () {
        $("#sip-span").click(function () {
            $(".lumpsum-content").addClass("display-none");
            $(".sip-content").removeClass("display-none");
            $("#sip-span").addClass("active");
            $("#lumpsum-span").removeClass("active");
            sip = 1;
            updateValues();
        });

        $("#lumpsum-span").click(function () {
            $(".lumpsum-content").removeClass("display-none");
            $(".sip-content").addClass("display-none");
            $("#lumpsum-span").addClass("active");
            $("#sip-span").removeClass("active");
            sip = 0;
            updateValues();
        });

        function updateSliderBackground(slider) {
            if (
                slider.id == "investment-slider" ||
                slider.id == "lumpsum-investment-slider"
            ) {
                $(`#${slider.id}-value`).text(
                    `Rs.${parseInt(slider.value).toLocaleString("en-IN")}`
                );
            } else if (slider.id == "year-slider") {
                $(`#${slider.id}-value`).text(`${slider.value} years`);
            } else if (slider.id == "return-slider") {
                $(`#${slider.id}-value`).text(`${slider.value} %`);
            }

            const value =
                ((slider.value - slider.min) / (slider.max - slider.min)) * 100;
            $(slider).css(
                "background",
                `linear-gradient(to right, #9b5de5 ${value}%, #d3bfff ${value}%)`
            );
        }

        $(
            "#investment-slider, #lumpsum-investment-slider, #year-slider, #return-slider"
        )
            .each(function () {
                updateSliderBackground(this);
                updateValues();
            })
            .on("input", function () {
                updateSliderBackground(this);
                updateValues();
            });
        $("#luxury, #good, #normal").on("change", function () {
            updateValues();
        });
    });
</script>
