---
layout: calculator-base.njk
title: SIP Calculator – Estimate Mutual Fund SIP Returns Easily
meta: '
<meta name="description" content="Use our SIP calculator to estimate the returns on your monthly mutual fund investments. Plan your SIP goals and future wealth with accuracy.">
<meta name="keywords" content="SIP calculator, mutual fund SIP calculator, SIP investment planner, SIP return calculator, monthly investment calculator">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://labh.io/calculator/sip-calculator">
<meta property="og:title" content="SIP Calculator – Estimate Mutual Fund SIP Returns Easily">
<meta property="og:description" content="Use our SIP calculator to estimate the returns on your monthly mutual fund investments. Plan your SIP goals and future wealth with accuracy.">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://labh.io/calculator/sip-calculator">
<meta name="twitter:title" content="SIP Calculator – Estimate Mutual Fund SIP Returns Easily">
<meta name="twitter:description" content="Use our SIP calculator to estimate the returns on your monthly mutual fund investments. Plan your SIP goals and future wealth with accuracy.">
'
menu: '
    <li><a href="/calculator/">Calculator</a></li>
    <li><img src="/assets/dote-active.svg" alt="dote-active"></li>
    <li><a href="#" class="active">SIP Calculator</a></li>
'
---

<div class="main-container">
    <div class="contents">
        <h1>SIP calculator</h1>
        <p>Compute potential returns from regular monthly SIP investments.</p>
    </div>
    <div class="calculator-card sip-calculator">
        <img src="/assets/card-edge-image.svg" alt="edge-image" />
        <img src="/assets/card-edge-image.svg" alt="edge-image" />

        <div class="toggler">
            <span class="sip-span active" id="sip-span">SIP</span>
            <span class="lumpsum-span" id="lumpsum-span" onclick="window.location.href='/calculator/lumpsum-calculator/'">Lumpsum</span>
        </div>
        <div class="calculator-card-contents">
            <div>
                <div class="sip-content">
                    <div class="cal-content">
                        <label>Monthly Investment</label>
                        <span id="investment-slider-value">Rs.500</span>
                    </div>
                    <input
                        type="range"
                        id="investment-slider"
                        min="500"
                        max="100000"
                        step="500"
                        value="5000"
                    />
                </div>

                <div class="lumpsum-content display-none">
                    <div class="cal-content">
                        <label>One Time Investment</label>
                        <span id="lumpsum-investment-slider-value"
                            >Rs.5000</span
                        >
                    </div>
                    <input
                        type="range"
                        id="lumpsum-investment-slider"
                        min="500"
                        max="1000000"
                        step="500"
                        value="5000"
                    />
                </div>

                <div class="cal-content">
                    <label>Time Period</label>
                    <span id="year-slider-value">10 years</span>
                </div>
                <input
                    type="range"
                    id="year-slider"
                    min="1"
                    max="32"
                    step="1"
                    value="5"
                />

                <div class="cal-content">
                    <label>Expected return(p.a.)</label>
                    <span id="return-slider-value">12%</span>
                </div>
                <input
                    type="range"
                    id="return-slider"
                    min="1"
                    max="30"
                    step="1"
                    value="12"
                />
            </div>

            <div>
                <div class="graph-container">
                    <div class="graph"></div>
                    <div class="legend">
                        <div class="legend-item">
                            <div
                                class="legend-color"
                                style="background-color: #9a5ced"
                            ></div>
                            <span>Est. Returns</span>
                        </div>
                        <div class="legend-item">
                            <div
                                class="legend-color"
                                style="background-color: #e8d8fd"
                            ></div>
                            <span>Invested amt</span>
                        </div>
                    </div>
                </div>

                <div class="cal-content result">
                    <label>Invested Amt</label>
                    <span id="invested-amt">Rs.46,36,567</span>
                </div>
                <div class="cal-content result">
                    <label>Est. returns</label>
                    <span id="est-returns">Rs.12,67,346</span>
                </div>
                <hr class="calculator-hr" />
                <div class="cal-content result">
                    <label>Total Value</label>
                    <span id="total-value">Rs.59,85,385</span>
                </div>
            </div>
        </div>
    </div>
    <div class="guide">
        <h2>How to Use?</h2>
        <ul>
            <li>Enter your monthly investment amount.</li>
            <li>Set the investment period and expected returns rate.</li>
            <li>View accumulated corpus and returns.</li>
        </ul>

        <h2>Formula</h2>
        <p class="formula">
            $$ FV = P \times \left( \frac{(1 + r)^n - 1}{r} \right) \times (1 + r) $$
        </p>

        <table>
            <tr>
                <td>FV (Future Value):</td>
                <td>The accumulated amount after investing via SIP.</td>
            </tr>
            <tr>
                <td>P :</td>
                <td>Monthly investment amount.</td>
            </tr>
            <tr>
                <td>r :</td>
                <td>
                    Expected monthly return rate (annual rate divided by 12).
                </td>
            </tr>
            <tr>
                <td>n :</td>
                <td>
                    Total number of monthly installments (years multiplied by
                    12).
                </td>
            </tr>
        </table>

        <h2>Advantages</h2>
        <ul>
            <li>Encourages disciplined investing</li>
            <li>Provides expected growth clarity</li>
            <li>Easy comparison of returns</li>
            <li>Tailored investment planning</li>
        </ul>
        <h2>FAQ's</h2>

        <div class="faq-container" style="background-color: transparent">
            <div class="faq-item">
                <div class="faq-question">
                    <span>What is a good SIP amount to start with?</span>
                    <span class="arrow"
                        ><img src="/assets/Frame 877 (1).png"
                    /></span>
                </div>
                <div class="faq-answer">
                    <div class="content">
                        <p style="text-align: left">
                            Start with an amount you’re comfortable with, even
                            if it’s small.
                        </p>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <span>Can I change my SIP amount later?</span>
                    <span class="arrow"
                        ><img src="/assets/Frame 877 (1).png"
                    /></span>
                </div>
                <div class="faq-answer">
                    <div class="content">
                        <p style="text-align: left">
                            Yes, most SIPs allow you to increase or decrease
                            your contribution.
                        </p>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <span>Is SIP safe? </span>
                    <span class="arrow"
                        ><img src="/assets/Frame 877 (1).png"
                    /></span>
                </div>
                <div class="faq-answer">
                    <div class="content">
                        <p style="text-align: left">
                            Labh is a research team that builds custom groups of
                            mutual funds, designed to grow your money based on
                            how much risk you’re comfortable taking. We do the
                            research so you can invest with confidence.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moblie-search-bar-container">
        <div
            id="search-results"
            class="cards display-none margin-bottom-none"
        ></div>
        <div class="black-container">
            <div class="mobile-search-bar">
                <input
                    type="text"
                    placeholder="Search for Calculator"
                    id="search2"
                />
            </div>
        </div>
    </div>
</div>

<script>
    let sip = 1;

    /*
        Investment Calculators: SIP and Lump Sum
        
        1. SIP (Systematic Investment Plan) Formula:
            Final Amount = P × [(1 + r)^n - 1] / r × (1 + r)
        
            Where:
            - P = Monthly investment amount
            - r = Monthly interest rate (annual rate ÷ 12 ÷ 100)
            - n = Total number of months (years × 12)
        
        2. Lump Sum Investment Formula:
            Final Amount = P × (1 + R)^t
        
            Where:
            - P = One-time initial investment
            - R = Annual interest rate (annual rate ÷ 100)
            - t = Number of years
         */

    function calculateSIP(P, annualRate, years) {
        const r = annualRate / 12 / 100;
        const n = years * 12;

        const finalAmount = P * ((Math.pow(1 + r, n) - 1) / r) * (1 + r);

        return finalAmount;
    }

    function calculateLumpSum(P, annualRate, years) {
        const R = annualRate / 100;
        const finalAmount = P * Math.pow(1 + R, years);
        return finalAmount.toFixed(2);
    }
    function updateChart(returnsPercentage) {
        const chart = document.querySelector(".graph");
        chart.style.background = `conic-gradient(
            #E8D8FD 0% ${returnsPercentage}%,
            #9A5CED ${returnsPercentage}% 100%
            )`;
    }
    function updateValues() {
        const sipPerMonth = $("#investment-slider").val();
        const years = $("#year-slider").val();
        let investedAmount = sipPerMonth * (years * 12);
        let returns = 0;
        let totalReturns = 0;
        if (sip == 1) {
            totalReturns = calculateSIP(
                sipPerMonth,
                $("#return-slider").val(),
                years
            );
            returns = totalReturns - investedAmount;
        } else {
            investedAmount = $("#lumpsum-investment-slider").val();
            totalReturns = calculateLumpSum(
                investedAmount,
                $("#return-slider").val(),
                years
            );
            returns = totalReturns - investedAmount;
        }
        $("#invested-amt").text(`Rs.${investedAmount.toLocaleString("en-IN")}`);
        $("#est-returns").text(
            `Rs.${returns.toLocaleString("en-IN", {
                maximumFractionDigits: 0,
            })}`
        );
        $("#total-value").text(
            `Rs.${parseFloat(totalReturns).toLocaleString("en-IN", {
                maximumFractionDigits: 0,
            })}`
        );
        const returnsPercentage = (investedAmount / totalReturns) * 100;
        updateChart(returnsPercentage);
    }

    $(document).ready(function () {
        $("#sip-span").click(function () {
            $(".lumpsum-content").addClass("display-none");
            $(".sip-content").removeClass("display-none");
            $("#sip-span").addClass("active");
            $("#lumpsum-span").removeClass("active");
            sip = 1;
            updateValues();
        });

        $("#lumpsum-span").click(function () {
            $(".lumpsum-content").removeClass("display-none");
            $(".sip-content").addClass("display-none");
            $("#lumpsum-span").addClass("active");
            $("#sip-span").removeClass("active");
            sip = 0;
            updateValues();
        });

        function updateSliderBackground(slider) {
            if (
                slider.id == "investment-slider" ||
                slider.id == "lumpsum-investment-slider"
            ) {
                $(`#${slider.id}-value`).text(
                    `Rs.${parseInt(slider.value).toLocaleString("en-IN")}`
                );
            } else if (slider.id == "year-slider") {
                $(`#${slider.id}-value`).text(`${slider.value} years`);
            } else if (slider.id == "return-slider") {
                $(`#${slider.id}-value`).text(`${slider.value} %`);
            }

            const value =
                ((slider.value - slider.min) / (slider.max - slider.min)) * 100;
            $(slider).css(
                "background",
                `linear-gradient(to right, #9b5de5 ${value}%, #d3bfff ${value}%)`
            );
        }

        $(
            "#investment-slider, #lumpsum-investment-slider, #year-slider, #return-slider"
        )
            .each(function () {
                updateSliderBackground(this);
                updateValues();
            })
            .on("input", function () {
                updateSliderBackground(this);
                updateValues();
            });
        $("#luxury, #good, #normal").on("change", function () {
            updateValues();
        });
    });
</script>
