---
layout: calculator-base.njk
title: Step Up SIP Calculator
menu: '
    <li>⦿</li>
    <li><a href="/calculator/">Calculator</a></li>
    <li><a href="#" class="active">Step Up SIP Calculator</a></li>
'
---

<div class="main-container">
    <div class="contents">
        <h1>Step Up SIP calculators</h1>
        <p>
            Compute returns from SIP investments with increasing contributions
            each year.
        </p>
    </div>
    <div class="calculator-card pf-calculator">
        <img src="/assets/card-edge-image.svg" alt="edge-image" />
        <img src="/assets/card-edge-image.svg" alt="edge-image" />
        <div class="calculator-card-contents">
            <div>
                <div class="cal-content">
                    <label>Monthly Investment</label>
                    <span id="investment-slider-value">Rs.20000</span>
                </div>
                <div class="input-limits">
                    <div>Rs.500</div>
                    <div>Rs.10,00,000</div>
                </div>
                <input
                    type="range"
                    id="investment-slider"
                    min="500"
                    max="1000000"
                    step="500"
                    value="20000"
                />

                <div class="cal-content">
                    <label>Increment Yearly</label>
                    <span id="increment-slider-value">Rs.2000</span>
                </div>
                <div class="input-limits">
                    <div>Rs.500</div>
                    <div>Rs.5,00,000</div>
                </div>
                <input
                    type="range"
                    id="increment-slider"
                    min="500"
                    max="500000"
                    step="500"
                    value="2000"
                />

                <div class="cal-content">
                    <label>Annual Growth in SIP</label>
                    <span id="raise-slider-value">10%</span>
                </div>
                <div class="input-limits">
                    <div>1%</div>
                    <div>100%</div>
                </div>
                <input
                    type="range"
                    id="raise-slider"
                    min="1"
                    max="100"
                    step="1"
                    value="10"
                />

                <div class="cal-content">
                    <label>Expected Return Rate(P.A)</label>
                    <span id="return-slider-value">12%</span>
                </div>
                <div class="input-limits">
                    <div>1%</div>
                    <div>30%</div>
                </div>
                <input
                    type="range"
                    id="return-slider"
                    min="1"
                    max="30"
                    step="1"
                    value="12"
                />
            </div>
            <div>
                <div class="cal-content">
                    <label>Time Period(Years)</label>
                    <span id="tenure-slider-value">23</span>
                </div>
                <div class="input-limits">
                    <div>1</div>
                    <div>40</div>
                </div>
                <input
                    type="range"
                    id="tenure-slider"
                    min="1"
                    max="40"
                    step="1"
                    value="23"
                />

                <div class="cal-content result">
                    <label>Invested Amt</label>
                    <span id="invested-amt" class="total">Rs.58,66,36,480</span>
                </div>

                <div class="cal-content result">
                    <label>Est. return</label>
                    <span id="returns">Rs.10,03,99,76,645</span>
                </div>

                <hr />

                <div class="cal-content result">
                    <label>Total Amount Payable</label>
                    <span id="total-amount">Rs.5,88,019</span>
                </div>
                <a href="">Invest Now</a>
            </div>
        </div>
    </div>
    <div class="guide">
        <h2>How to Use?</h2>
        <ul>
            <li>
                Enter initial SIP amount, annual increment percentage, expected
                returns, and investment duration.
            </li>
            <li>Calculate to view the total corpus and returns.</li>
        </ul>

        <h2>Formula</h2>
        <p class="formula">
            $$ \text{Future Value} = P \cdot \left( \frac{(1 + r)^n - 1}{r}
            \cdot (1 + r) \right) + Q \cdot \left( \frac{(1 + r)^n - (1 +
            i)^n}{r - i} \cdot (1 + r) \right) $$
        </p>
        <table>
            <tr>
                <td>P</td>
                <td>Fixed payment each period</td>
            </tr>
            <tr>
                <td>r</td>
                <td>
                    Monthly interest rate (annual interest rate divided by 12).
                </td>
            </tr>
            <tr>
                <td>n</td>
                <td>
                    Total number of monthly installments (loan tenure in months)
                </td>
            </tr>
            <tr>
                <td>Q</td>
                <td>Incremented Income Each Period</td>
            </tr>
            <tr>
                <td>i</td>
                <td>Rate of increase in contribution</td>
            </tr>
        </table>
        <h2>Advantages</h2>
        <ul>
            <li>Promotes disciplined and progressive investment</li>
            <li>Enhanced returns through systematic increments</li>
            <li>Clear visualization of financial growth</li>
            <li>Customizable investment plans</li>
        </ul>
        <h2>FAQ's</h2>

        <div class="faq-container" style="background-color: transparent">
            <div class="faq-item">
                <div class="faq-question">
                    <span>What is a step-up SIP?</span>
                    <span class="arrow"
                        ><img src="/assets/Frame 877 (1).png"
                    /></span>
                </div>
                <div class="faq-answer">
                    <div class="content">
                        <p style="text-align: left">
                            It’s a SIP where you increase your investment amount
                            annually by a fixed percentage or amount.
                        </p>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <span> Can I stop a step-up SIP anytime? </span>
                    <span class="arrow"
                        ><img src="/assets/Frame 877 (1).png"
                    /></span>
                </div>
                <div class="faq-answer">
                    <div class="content">
                        <p style="text-align: left">
                            Yes, you can pause or stop it, but check with your
                            mutual fund provider for penalties.
                        </p>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <span
                        >IHow does a step-up SIP help in long-term goals?
                    </span>
                    <span class="arrow"
                        ><img src="/assets/Frame 877 (1).png"
                    /></span>
                </div>
                <div class="faq-answer">
                    <div class="content">
                        <p style="text-align: left">
                            It allows you to invest more as your income grows,
                            helping you achieve bigger financial goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="moblie-search-bar-container">
        <div
            id="search-results"
            class="cards display-none margin-bottom-none"
        ></div>
        <div class="black-container">
            <div class="mobile-search-bar">
                <input
                    type="text"
                    placeholder="Search for Calculator"
                    id="search2"
                />
            </div>
        </div>
    </div>
</div>

<script>
    function calculateFutureValue(initialAmount, increment, r, i, n) {
        const initialPart =
            initialAmount * (((Math.pow(1 + r, n) - 1) / r) * (1 + r));
        const incrementPart =
            increment *
            (((Math.pow(1 + r, n) - Math.pow(1 + i, n)) / (r - i)) * (1 + r));
        const futureValue = initialPart + incrementPart;
        return [futureValue, initialPart];
    }

    function calculateInvestedAmount(initialAmount, increment, i, n) {
        let totalIncrements = 0;
        for (let year = 0; year < n; year++) {
            totalIncrements += increment * Math.pow(1 + i, year);
        }
        return initialAmount + totalIncrements;
    }

    function updateValues() {
        const investment = $("#investment-slider").val();
        const increment = $("#increment-slider").val();
        const raise = $("#raise-slider").val() / 100;
        const returnRate = $("#return-slider").val() / 100;
        const tenure = $("#tenure-slider").val();

        const [futureValue, initialPart] = calculateFutureValue(
            investment,
            increment,
            returnRate,
            raise,
            tenure
        );

        const returns = futureValue - initialPart;

        $("#total-amount").text(
            `Rs.${parseInt(futureValue).toLocaleString("en-IN")}`
        );
        $("#invested-amt").text(
            `Rs.${parseInt(initialPart).toLocaleString("en-IN")}`
        );
        $("#returns").text(`Rs.${parseInt(returns).toLocaleString("en-IN")}`);
    }

    $(document).ready(function () {
        function updateSliderBackground(slider) {
            if (
                slider.id == "investment-slider" ||
                slider.id == "increment-slider"
            ) {
                $(`#${slider.id}-value`).text(
                    `Rs.${parseInt(slider.value).toLocaleString("en-IN")}`
                );
            } else if (
                slider.id == "return-slider" ||
                slider.id == "raise-slider"
            ) {
                $(`#${slider.id}-value`).text(`${slider.value} %`);
            } else if (slider.id == "tenure-slider") {
                $(`#${slider.id}-value`).text(`${slider.value} Years`);
            }

            const value =
                ((slider.value - slider.min) / (slider.max - slider.min)) * 100;
            $(slider).css(
                "background",
                `linear-gradient(to right, #9b5de5 ${value}%, #d3bfff ${value}%)`
            );
        }

        $(
            "#investment-slider, #raise-slider, #tenure-slider, #return-slider, #increment-slider"
        )
            .each(function () {
                updateSliderBackground(this);
                updateValues();
            })
            .on("input", function () {
                updateSliderBackground(this);
                updateValues();
            });
    });
</script>
