<div class="contents">
    <h1>Categories</h1>
    <p>Select fund categories for you to start investing.</p>
</div>
<div class="categories d-flex justify-content-start flex-wrap w-100">
    <a
        href="/mutual-funds/equity/"
        class="category d-flex justify-content-center align-items-center"
        data-value="equity"
    >
        Equity
    </a>

    <a
        href="/mutual-funds/debt/"
        class="category d-flex justify-content-center align-items-center"
        data-value="debt"
    >
        Debt
    </a>
    
    <a
        href="/mutual-funds/hybrid/"
        class="category d-flex justify-content-center align-items-center"
        data-value="hybrid"
    >
        Hybrid
    </a>
    <a
        href="/mutual-funds/solution/"
        class="category d-flex justify-content-center align-items-center"
        data-value="solution"
    >
        Solution Oriented
    </a>
    <a
        href="/mutual-funds/other/"
        class="category d-flex justify-content-center align-items-center"
        data-value="other"
    >
        Other
    </a>
</div>
