<div class="pagination d-flex align-items-center justify-content-between">
    <div class="goto d-flex align-items-center justify-content-center">
        Go To:
        <span class="d-flex align-items-center justify-content-center"
            >1 <img src="/assets/pagination-down-arrwo.svg" alt="down-arrow" />
        </span>
        <div class="d-none">
            <ul id="goto-ul"></ul>
        </div>
    </div>
    <div
        class="items-per-page d-flex align-items-center justify-content-center"
    >
        Items per page:
        <span class="d-flex align-items-center justify-content-center"
            >10 <img src="/assets/pagination-down-arrwo.svg" alt="down-arrow" />
        </span>
        <div class="d-none">
            <ul id="items-per-page-ul">
                <li data-value="10">10</li>
                <li data-value="25">25</li>
                <li data-value="50">50</li>
                <li data-value="100">100</li>
            </ul>
        </div>
    </div>
    <div class="pages-left">1-1 of 1</div>
</div>
