

<nav>
    <a href="/" class="logo-container">
        <img src="/assets/LOGO.png" alt="logo" />
        <span>Labh</span>
    </a>
    <div class="search-bar-container">
        <div class="mobile-search-icon">
            <img src="/assets/search-icon.svg" alt="search">
        </div>
        {% include "search.njk" %}
        <a href="http://api.labh.io/get-app/">Download Now</a>
    </div>
</nav>
<hr class="nav-hr" />
  