<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
 <body>
        {% include "basket-header.njk" %}

        <div class="menu-bar">
            <ul>
                <li><a href="https://labh.io/">Home</a></li>
                <li><img src="/assets/dote.svg" alt="dote" /></li>
                {{
                    menu | safe
                }}
            </ul>
            <button class="share-btn"  onclick="sharePage()">
                Share
                <img src="/assets/share.svg" alt="Share" class="share-icon" />
            </button>
        </div>

        {{ content | safe }}

        <div class="blur-effect display-none"></div>

        {% include "footer.njk" %}

        <script src="/main.js"></script>
        <script src="/basket.js"></script>
        <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-WZBYHK4HSX"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-WZBYHK4HSX");
    </script>
    <script src="/main.js"></script>
    </body>
</html>
