<nav>
    <a href="/" class="logo-container">
        <img src="/assets/LOGO.png" alt="logo" />
        <span>Labh</span>
    </a>
    <div class="search-bar-container">
        <div class="search-bar hide-icon">
            <input type="text" placeholder="Search" id="search" autocomplete="off"/>
        </div>
        <div class="search-dropdown display-none "></div>
        <a href="http://api.labh.io/get-app/">Download Now</a>
    </div>
</nav>
<hr class="nav-hr" />
