<footer
    style="
        background-color: #cec3fe;
        font-family: Arial, sans-serif;
        color: #000;
    "
>
    <div
        class="footercontainer"
        style="
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-left: 24px;
            margin-bottom: -30px;
        "
    >
        <!-- Left Section -->
        <div style="flex: 1; min-width: 250px; margin-bottom: 20px">
            <div
                class="footer-logo-wrapper"
                style="
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    align-items: self-start;
                    margin-top: 20px;
                "
            >
                <img
                    class="footer-icon"
                    src="/assets/Frame 2.svg"
                    alt="Labh Logo"
                    style="width: 60px; margin-bottom: 10px"
                />&nbsp;

                <p class="company-address">
                    Forty2 Enterprises is authorised entity registered with AMFI
                    to sell mutual funds. AMFI License No. ARN-308230.
                    <br />Same can be verified
                    <a
                        href="https://www.amfiindia.com/locate-your-nearest-mutual-fund-distributor-details"
                        >here.</a
                    ><br />
                </p>
                <p class="company-address">
                    <strong>Address: </strong>Forty2 Enterprises,Andhra
                    University Incubation council, Maddilapalem, Visakhapatnam,
                    Andhra Pradesh - 530040
                </p>
            </div>

            <div class="desktop-footer">
                <div class="footer-links">
                    <div class="footer-links-section">
                        <h4>Top Picks</h4>
                        <ul>
                            <li><a href="">Mutual Funds</a></li>
                            <li><a href="">New Fund Offers</a></li>
                            <li><a href="">Systematic Plans</a></li>
                            <li>
                                <a href="">Tax-Saving Investment Funds</a>
                            </li>
                            <li><a href="">Top AMC's</a></li>
                            <li><a href="">Market Indices</a></li>
                        </ul>
                    </div>
                    <div class="footer-links-section">
                        <h4>Know us</h4>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#aboutsection">Who are we</a></li>
                            <li><a href="">Why labh</a></li>
                            <li><a href="">Our mission & Vision</a></li>
                            <li><a href="">Experts behind Labh</a></li>
                            <li>
                                <a href=""
                                    >Regulatory Compliance & Certifications</a
                                >
                            </li>
                            <li><a href="">Beta</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Support</a></li>
                        </ul>
                    </div>
                    <div class="footer-links-section">
                        <h4>Investor's toolkit</h4>
                        <ul>
                            <li><a href="/calculator/">All calculators</a></li>
                            <li>
                                <a href="/calculator/retirement-calculator/"
                                    >Retirement calculator</a
                                >
                            </li>
                            <li>
                                <a href="/calculator/education-fees-calculator/"
                                    >Education fees calculator</a
                                >
                            </li>
                            <li>
                                <a href="/calculator/sip-calculator/"
                                    >Sip returns calculator</a
                                >
                            </li>
                            <li>
                                <a href="/calculator/fixed-deposit-calculator/"
                                    >Fixed deposit return calculator</a
                                >
                            </li>
                            <li>
                                <a href="/calculator/fixed-deposit-calculator/"
                                    >Lumpsum calculator</a
                                >
                            </li>
                            <li>
                                <a href="/calculator/pf-calculator/"
                                    >PF calculator</a
                                >
                            </li>
                            <li>
                                <a href="/calculator/nps-calculator/"
                                    >NPS calculator</a
                                >
                            </li>
                            <li>
                                <a href="/calculator/personal-loan-calculator/"
                                    >Personal Loan calculator</a
                                >
                            </li>
                            <li>
                                <a
                                    href="/calculator/credit-card-debit-calculator/"
                                    >Credit card debt calculator</a
                                >
                            </li>
                            <li>
                                <a href="/calculator/car-loan-calculator/"
                                    >Car loan calculator</a
                                >
                            </li>
                            <li>
                                <a href="/calculator/bike-loan-calculator/"
                                    >Bike cost calculator</a
                                >
                            </li>
                            <li>
                                <a href="/calculator/home-loan-calculator/"
                                    >House calculator</a
                                >
                            </li>
                            <li>
                                <a href="/calculator/stepup-sip-calculator/"
                                    >Sip step up calculator</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="footer-links-section">
                        <h4>Labh Digest</h4>
                        <ul>
                            <li>
                                <a href="">Labh Blogs & Market Insights</a>
                            </li>
                            <li><a href="">Mutual Fund Basics</a></li>
                            <li>
                                <a href="">Investment Strategies</a>
                            </li>
                            <li><a href="">Glossary</a></li>
                            <li>
                                <a href="">Fin tech News letters</a>
                            </li>
                            <li><a href="">Disclaimer</a></li>
                            <li><a href="">Policy</a></li>
                            <li><a href="">Terms and conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-methodologies">
                    <div>
                        <h4
                            class="social-media"
                            style="font-size: 15px; font-weight: bold"
                        >
                            Find us on social media:
                        </h4>
                        <div
                            class="footer-icons"
                            style="display: flex; gap: 15px"
                        >
                            <a href="https://www.instagram.com/labh.io/">
                                <img
                                    class="insta-link"
                                    src="/assets/instagram.png"
                                    alt="Instagram"
                                    style="
                                        width: 60px;
                                        height: 57px;
                                        margin-top: 2px;
                                    "
                                />
                            </a>
                            <a href="https://in.linkedin.com/company/labh-io">
                                <img
                                    class="linkedin-link"
                                    src="/assets/linkedin.png"
                                    alt="LinkedIn"
                                    style="width: 70px; height: 65px"
                                />
                            </a>
                            <a
                                href="https://www.facebook.com/people/Labh/61565477967568/"
                            >
                                <img
                                    class="facebook-link"
                                    src="/assets/facebook.png"
                                    alt="Facebook"
                                    style="width: 70px; height: 65px"
                                />
                            </a>
                            <a href="https://x.com/labh_io">
                                <img
                                    class="x-link"
                                    src="/assets/x.png"
                                    alt="X"
                                    style="
                                        width: 60px;
                                        height: 52px;
                                        margin-top: 7px;
                                    "
                                />
                            </a>
                        </div>
                    </div>
                    <div
                        class="footer-contact-us-wrapper"
                        style="display: flex"
                    >
                        <div style="flex: 1">
                            <strong
                                class="contact-us-footer"
                                style="
                                    margin-bottom: 20px;
                                "
                                >Contact us on:</strong
                            >
                            <p
                                class="support-email"
                                style="
                                    display: flex;
                                    align-items: center;
                                    gap: 10px;
                                    font-size: 23px;
                                "
                            >
                                <img
                                    src="/assets/mail.png"
                                    alt="Email"
                                    style="width: 75px; height: 75px"
                                />
                                support@labh.io
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <br />
        </div>
    </div>
    <hr
        class="hrs"
        style="color: black; margin-top: -20px; margin-bottom: 20px"
    />
    <div
        class="download-app-footer"
        style="flex: 1; justify-content: flex-end; gap: 20px"
        onclick="window.location.href = 'https://api.labh.io/get-app/'"
    >
        <div>
            <img
                class="get-app"
                src="/assets/googleplay.png"
                alst="Google Play"
                style="width: 200px"
            />
        </div>
        <div>
            <img
                class="get-app"
                src="/assets/applestore.png"
                alt="App Store"
                style="width: 200px"
            />
        </div>
    </div>
</footer>
