<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
        <link rel="stylesheet" href="/styles/mf_index.css" />
        {{ other_scripts | safe}}
        <title>{{ title }}</title>
    </head>
    <body>
        {% include "calculator-header.njk" %}

        {{ content | safe }}

        <div class="blur-effect display-none"></div>

        {% include "footer.njk" %}

    </body>
    <script src="/mf_index.js"></script>
</html>
