<link rel="stylesheet" href="/styles/pincode.css" />
<link rel="stylesheet" href="/styles/_pincode_media_queries.css">

<div>
    <nav>
        <div class="logo-container">
            <img src="/assets/LOGO.png" alt="logo" />
            <span>Labh</span>
        </div>

     <div class="navbar">
        <a href="http://labh.io/#" class="nav-link active styled-box">Home</a>
        <a href="http://labh.io/#aboutsection" class="nav-link ">About us</a>
        <a href="http://labh.io/#pitch" class="nav-link ">Methodology</a>
        <a href="https://blog.labh.io" class="nav-link ">Blog</a>
        <a href="https://tawk.to/labh" class="nav-link ">Contact us</a>
      </div>
<!-- 
      <div id="nav-menu" class="nav-menu">
        <ul>
          <li><a href="http://labh.io/#" >Home</a></li>
          <li><a href="http://labh.io/#aboutsection">About us</a></li>
          <li><a href="http://labh.io/#pitch">Methodology</a></li>
          <li><a href="https://blog.labh.io">Blog</a></li>
          <li><a href="https://tawk.to/labh">Contact us</a></li>
        </ul>
      </div> -->

      <div class="hamburger" onclick="toggleMenu()" id="navmenu">
        <img src="/assets/menu_bar.svg" alt="menu" class="menu1" />
     </div>
      
    </nav>
    <hr class="n1" />
</div>


  