# Ignore node_modules (npm packages)
node_modules/

# Ignore output folder (built static files)
web/

# Ignore temporary files
.DS_Store
Thumbs.db

# Ignore cache (if you use .cache or similar in future)
.cache/

# Ignore environment files (if you have any)
.env
.env.*

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE/editor specific files
.idea/
*.sublime-workspace
*.sublime-project
