---
layout: mutual-funds-index-base.njk
title: Labh
menu: '
<li id="mutual-funds-link"><a href="/mutual-funds/">Mutual Funds</a></li>
<li id="mutual-funds-link-mobile"><a onclick="history.back()" >
    <img src="/assets/back-arrow.png" alt="">
    Back 
    </a>
</li>
'
---

<div class="main-container">
    <div class="categories-fund-list">
        <div class="funds scheme-screen-funds">
            <h1 id="scheme-name-heading"></h1>
            <div class="funds-list" id="funds-list2"></div>
        </div>
    </div>
    {% include "pagination.njk" %}
</div>
