---
layout: mobile/bank/bank-base.njk
title: Bank
---

<div class="contents">
    <div class="no-accounts-view d-flex align-items-center justify-content-between flex-column d-none">
        <img class="banner" src="/assets/mobile-webview/Group 2367.png" alt="no account banner" />
        <div class="helper-container d-flex flex-column align-items-center justify-content-center">
            <img class="exclamation" src="/assets/mobile-webview/Vector.png" alt="exclamation" />
            <span>Action Required</span>
            <div class="help">
                Please set up your Bank Account to process the orders
            </div>
        </div>
    </div>
    <div class="bank-form d-none">
        <form>
            <div class="form-group">
                <div class="title">
                    Enter Bank Details
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" id="account-number" placeholder="Enter Account Number">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="account-number-confirm"
                        placeholder="Confirm Account Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="ifsc-code" placeholder="IFSC Code">
                </div>
            </div>
        </form>
    </div>
    <div class="bank-list">
        <div class="bank">
            <div class="d d-flex align-items-center justify-content-left gap-3">
                <div class="d-flex align-items-center justify-content-left gap-1">
                    <img src="/assets/mobile-webview/image 17.png" alt="logo">
                    <span>SBI</span>
                </div>
                <div class="verified d-flex align-items-center justify-content-left gap-1">
                    <img src="/assets/mobile-webview/Group 2369.png" alt="verified image">
                    <span>Verified</span>
                </div>
            </div>
            <div class="u-d">
                <div class="name">Kireeti Varma D</div>
                <div class="account-number">XXXXXXXXXXXXXX0636</div>
            </div>
            <div class="d-button d-flex align-items-center justify-content-center  gap-2">
                <img src="/assets/mobile-webview/delete-vector.png" alt="delete-icon">
                <span>Delete</span>
            </div>
        </div>
        <div class="bank">
            <div class="d d-flex align-items-center justify-content-left gap-3">
                <div class="d-flex align-items-center justify-content-left gap-1">
                    <img src="/assets/mobile-webview/image 17.png" alt="logo">
                    <span>SBI</span>
                </div>
                <div class="verified d-flex align-items-center justify-content-left gap-1">
                    <img src="/assets/mobile-webview/Group 2369.png" alt="verified image">
                    <span>Verified</span>
                </div>
            </div>
            <div class="u-d">
                <div class="name">Kireeti Varma D</div>
                <div class="account-number">XXXXXXXXXXXXXX0636</div>
            </div>
            <div class="d-button d-flex align-items-center justify-content-center  gap-2">
                <img src="/assets/mobile-webview/delete-vector.png" alt="delete-icon">
                <span>Delete</span>
            </div>
        </div>
        <div class="bank">
            <div class="d d-flex align-items-center justify-content-left gap-3">
                <div class="d-flex align-items-center justify-content-left gap-1">
                    <img src="/assets/mobile-webview/image 17.png" alt="logo">
                    <span>SBI</span>
                </div>
                <div class="verified d-flex align-items-center justify-content-left gap-1">
                    <img src="/assets/mobile-webview/Group 2369.png" alt="verified image">
                    <span>Verified</span>
                </div>
            </div>
            <div class="u-d">
                <div class="name">Kireeti Varma D</div>
                <div class="account-number">XXXXXXXXXXXXXX0636</div>
            </div>
            <div class="d-button d-flex align-items-center justify-content-center  gap-2">
                <img src="/assets/mobile-webview/delete-vector.png" alt="delete-icon">
                <span>Delete</span>
            </div>
        </div>
        <div class="bank">
            <div class="d d-flex align-items-center justify-content-left gap-3">
                <div class="d-flex align-items-center justify-content-left gap-1">
                    <img src="/assets/mobile-webview/image 17.png" alt="logo">
                    <span>SBI</span>
                </div>
                <div class="verified d-flex align-items-center justify-content-left gap-1">
                    <img src="/assets/mobile-webview/Group 2369.png" alt="verified image">
                    <span>Verified</span>
                </div>
            </div>
            <div class="u-d">
                <div class="name">Kireeti Varma D</div>
                <div class="account-number">XXXXXXXXXXXXXX0636</div>
            </div>
            <div class="d-button d-flex align-items-center justify-content-center  gap-2">
                <img src="/assets/mobile-webview/delete-vector.png" alt="delete-icon">
                <span>Delete</span>
            </div>
        </div>
    </div>
    <div class="modal">

    </div>
    <div class="button-container">
        <div class="button d-flex align-items-center justify-content-center">
            Set up your Bank Account
        </div>
    </div>
</div>