---
layout: blog-base.njk
title: Sukanya Samriddhi Yojana (SSY) – Scheme for the girl child with high interest rates and tax benefits under Section 80C.
menu: '
    <li><a href="/blog/">Blogs</a></li>
    <li><img src="/assets/dote-active.svg" alt="dote-active"></li>
    <li><a href="#" class="active">What is SSY?</a></li>
'
---
<div class="main-container">
    <div class="contents1">
        <div class="blog-inner-container">
            <h3>What is PPF? </h3>
        <p>
            The <b>Public Provident Fund</b> is a government-backed savings scheme designed to encourage long-term investment habits. It is open to all Indian citizens and offers <b>guaranteed, tax-free returns</b> over a fixed tenure of 15 years, extendable in blocks of 5 years.
        </p>
        <h3>Key Features of PPF </h3>
        <p><b>Tenure: </b>15 years (extendable in blocks of 5 years) </p>
        <p><b>Minimum Investment: </b>₹500 per year</p>
        <p><b>Maximum Investment: </b>₹1.5 lakh per year</p>
        <p><b>Interest Rate: </b>Revised quarterly by the government (7.1% as of Q1 2025)</p>
        <p><b>Compounding: </b>Interest is compounded annually</p>
        <p><b>Tax Benefits: </b>EEE status – Exempt at investment, interest, and maturity under Section 80C</p>

        <h3>What is PPF? </h3>
        <p>
            The Public Provident Fund is a government-backed savings scheme designed to encourage long-term investment habits. It is open to all Indian citizens and offers guaranteed, tax-free returns over a fixed tenure of 15 years, extendable in blocks of 5 years.
        </p>
        <h3>What is PPF? </h3>
        <p>
            The Public Provident Fund is a government-backed savings scheme designed to encourage long-term investment habits. It is open to all Indian citizens and offers guaranteed, tax-free returns over a fixed tenure of 15 years, extendable in blocks of 5 years.
        </p>
        </div>
       <div class="flex-col">
        <div class="side-image" onclick="window.location.href='https:play.google.com/store/apps/details?id=com.labh.io&pcampaignid=web_share'">
            <img src="/assets/blog-invest.svg" alt="Invest Now" />
        </div>
        <div class="blog-suggestions">
            <h3 class="blog-header">Explore More Blogs</h3>
            <ul>
                <li onclick="window.location.href='/blog/Public-Provident-Fund'">
                <span>What is PPF?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/blog/Sukanya-Samriddhi-Yojana'">
                <span>What is SSY?</span>
                <button><img src="/assets/go-blog.svg"alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/blog/Senior-Citizens-Savings-Scheme'">
                <span>What is SCSS?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/blog/National-Savings-Certificate'">
                <span>What is NSC?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/blog/National-Savings-Certificate'">
                <span>What is KVP?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li  onclick="window.location.href='/blog/Post-Office-Monthly-Income-Scheme'">
                <span>What is POMIS?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/blog/Pradhan-Mantri-Vaya-Vandana-Yojana'">
                <span>What is PMVVY?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/blog/Rural-Post-Office-Time-Deposit'">
                <span>What is TD?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/blog/Post_Office_Recurring_Deposit'">
                <span>What is RD?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/blog/Atal-Pension-Yojana'">
                <span>What is APY?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
            </ul>
          </div>
       </div>
          
        
    </div>
</div>