---
layout: blog-base.njk
title: Public Provident Fund (PPF) – Long-term tax-saving investment with a 15-year lock-in and interest compounded annually.
menu: '
<div class="breadcrumb-mobile">
  <div class="back-wrapper">
      <img src="/assets/Back.svg" alt="back icon" class="back-icon" />
      <button class="back-link" onclick="handleBack()">Back</button>
    </div>
  </div>
    <li><a href="/savings-schemes/">Savings-schemes</a></li>
    <li><img src="/assets/dote-active.svg" alt="dote-active"></li>
    <li><a href="#" class="active">What is PPF?</a></li>
'
---
<div class="main-container">
    <div class="contents1">
        <div class="blog-inner-container">
          <h3 class="blogh3">PPF: A Smart Savings Companion</h3>
          <p>If you're someone who believes in saving bit by bit to build a secure future, the Public Provident Fund (PPF) is a reliable option worth knowing. Whether you’re new to saving or looking to build a financial base for your family, the Public Provident Fund (PPF) could be your best financial friend. Let’s walk through everything you need to know.</p>
           
          <h3 class="blogh3">What is PPF? </h3>
        <p>
          The <b>Public Provident Fund</b> is a government-backed savings scheme designed to encourage long-term investment habits. It is open to all Indian citizens and offers <b>guaranteed, tax-free returns</b> over a fixed tenure of 15 years, extendable in blocks of 5 years.        </p>
        <h3 class="blogh3">Key Features of PPF: </h3>
        <p><b>Stable Interest Rate (Currently 7.1%) :</b> The government decides the PPF interest rate every three months. Right now, it’s 7.1% per year. This rate doesn’t depend on the stock market, so your money grows safely.        </p>
        <p><b>Invest From ₹500 to ₹1.5 Lakh a Year :</b> Your money stays locked for 15 years. After that, you can withdraw it or extend the account in 5-year blocks. Great for long-term goals like retirement or kids' education.</p>
        <p><b>15-Year Lock-In (Can Be Extended) :</b>₹1.5 lakh per year</p>
        <p><b>Save Tax in Three Ways :</b> You save tax when you invest (Section 80C), when you earn interest, and even when you withdraw the full amount. Everything is tax-free!</p>
        <p><b>Your Money Grows Every Year :</b>The interest you earn gets added to your account and earns more interest the next year. This "compounding" helps your savings grow faster over time.        </p>
           
          <div class="side-image1" onclick="window.location.href='https:play.google.com/store/apps/details?id=com.labh.io&pcampaignid=web_share'">
            <img src="/assets/for-mobile.svg" alt="Invest Now" />
        </div>
         
         

        <h3 class="blogh3">Is It Safe? </h3>
        <p>
          Absolutely. Since it is backed by the Government of India, PPF carries zero credit risk. Unlike stocks or mutual funds, your principal and interest are completely secure.
        </p>
         
        <h3 class="blogh3">Why Choose PPF?</h3>
          <p>PPF is ideal for anyone who wants:</p>
          <ul>
            <li>A disciplined long-term savings habit</li>
            <li>Guaranteed returns without any risk</li>
            <li>Tax deductions and tax-free interest </li>
          </ul>
          <p>It is especially helpful for goal-based saving like children's education or retirement planning.</p>
           
        <h3 class="blogh3">Eligibility Criteria to open a PPF account:</h3>
        <ul>
          <li>You must be an Indian citizen</li>
          <li>You should be 18 years or older</li>
          <li>Minors can have a PPF account under guardian supervision</li>
          <li>NRIs and HUFs (Hindu Undivided Families) are not eligible</li>
        </ul>

          
        <h3 class="blogh3">Pre-requisites:</h3>
        <p>
          Documents and information needed:</p>
          <ul>
            <li>Aadhaar and PAN card</li>
            <li>Recent passport-sized photo</li>
            <li>Bank account details (for online PPF)</li>
            <li>Initial deposit (minimum ₹500)</li>
          </ul>
           

        <h3 class="blogh3">Step-by-Step Process to Open a PPF Account:</h3>
        <p>
          <b>Online Method (via Netbanking):</b></p>
          <ol>
            <li>Log in to your bank's internet banking portal.</li>
            <li>Navigate to 'Open PPF Account'.</li>
            <li>Fill out the application and upload required documents .</li>
            <li>Make your first deposit .</li>
            <li>Receive account number confirmation.</li>
          </ol>
          <b>Option B: Open a PPF Account Offline (Bank/Post Office)</b>
          <ol>
            <li>Visit your preferred bank or nearby post office.</li>
            <li>Request and fill Form A.</li>
            <li>Attach self-attested copies of ID/address proof.</li>
            <li>Deposit cash/cheque (minimum ₹500).</li>
            <li>Receive passbook or receipt with account details.</li>

          </ol>
           
          <h3 class="blogh3">What Can ₹1.5 Lakh a Year Grow Into?</h3>
          <p>If you invest ₹1.5 lakh every year in PPF for 15 years at the current interest rate of 7.1% per annum (compounded yearly), here’s what it looks like:</p>
          <ul>
            <li><b>Yearly Investment: </b>₹1,50,000</li>
            <li><b>Interest Rate: </b>7.1% per year</li>
            <li><b>Tenure: </b>15 years</li>
            <li><b>Total Amount Invested: </b> ₹22,50,000 (₹1.5 lakh x 15 years)</li>
            <li><b>Maturity Value: </b> ₹40,68,209 (approx.)</li>
          </ul>
         
          <p>So, your ₹22.5 lakhs turns into over ₹40.6 lakhs by the end of 15 years—without any market risk.</p>
          <p>Try the <a href="">PPF Calculator</a> to explore how your savings can grow based on different annual contributions.</p>
           

          <h3 class="blogh3">PPF Withdrawal Rules (Know the Lock-In!)</h3>
          <ul>
            <li><b>Lock-In Period:</b>15 years; full withdrawal allowed only after that.</li>
            <li><b>Partial Withdrawals: </b> Permitted from the 7th financial year.</li>
            <li><b>Loan Facility: </b>Available between the 3rd and 6th year.</li>
            <li><b>Premature Closure: </b> Allowed after 5 years only for serious reasons (medical treatment, higher education).</li>
          </ul>
         
           
          <h3 class="blogh3">Who Should Invest in PPF?</h3>
          <p>PPF suits a variety of savers:</p>
          <ul>
            <li>Salaried individuals wanting tax savings</li>
            <li>Self-employed professionals with irregular income</li>
            <li>Eligible Parents saving for their children's future</li>
            <li>Eligible Retirees seeking safe investment options</li>
          </ul>
           

          <h3 class="blogh3">Conclusion:</h3>
          <p>PPF is not a quick wealth multiplier, but it’s a dependable, tax-friendly plan for those willing to save consistently over time. Whether you're saving for your child's college, your retirement, or just building financial discipline—PPF can be a part of your financial foundation.</p>
           
          <div class="sources-container">
            <h4 class="blogh2">Sources:</h4>
            <ul>
              <li onclick="window.location.href='https:www.nsiindia.gov.in/(S(ynlpb2zcu1lk34iyejs1e155))/Home.aspx'">
                <span>National Savings Institute</span>
                <img src="/assets/source-arrow.svg">
              </li>
              <li onclick="window.location.href='https:incometaxindia.gov.in'">
                <span>Income Tax India - Section 80C</span>
                <img src="/assets/source-arrow.svg">
              </li>
              <li onclick="window.location.href='https:www.rbi.org.in'">
                <span>Reserve Bank of India</span>
                <img src="/assets/source-arrow.svg">
              </li>
            </ul>

            
          </div>
           
           
          <h3 class="blogh3">Want More Finance Tips?</h3>
            <p>For more stories, latest finance news, and to learn mutual funds in simple words—<a class="download" href='https:play.google.com/store/apps/details?id=com.labh.io&pcampaignid=web_share'>Download</a> the Labh app today and take your money knowledge to the next level.</p>
        </div>
       <div class="flex-col">
        <div class="side-image" onclick="window.location.href='https:play.google.com/store/apps/details?id=com.labh.io&pcampaignid=web_share'">
            <img src="/assets/blog-invest.svg" alt="Invest Now" />
        </div>
        <div class="blog-suggestions">
            <h3 class="blog-header">Explore More Savings-schemes</h3>
            <ul>
                <li onclick="window.location.href='/savings-schemes/Public-Provident-Fund'">
                <span>What is PPF?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/savings-schemes/Sukanya-Samriddhi-Yojana'">
                <span>What is SSY?</span>
                <button><img src="/assets/go-blog.svg"alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/savings-schemes/Senior-Citizens-Savings-Scheme'">
                <span>What is SCSS?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/savings-schemes/National-Savings-Certificate'">
                <span>What is NSC?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/savings-schemes/Kisan-Vikas-Patra'">
                <span>What is KVP?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li  onclick="window.location.href='/savings-schemes/Post-Office-Monthly-Income-Scheme'">
                <span>What is POMIS?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/savings-schemes/Pradhan-Mantri-Vaya-Vandana-Yojana'">
                <span>What is PMVVY?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/savings-schemes/Rural-Post-Office-Time-Deposit'">
                <span>What is TD?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/savings-schemes/Post-Office-Recurring-Deposit'">
                <span>What is RD?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
              <li onclick="window.location.href='/savings-schemes/Atal-Pension-Yojana'">
                <span>What is APY?</span>
                <button><img src="/assets/go-blog.svg" alt="Go" /></button>
              </li>
            </ul>
          </div>
       </div>
          
        
    </div>
    <div class="blog-suggestions1">
      <h3 class="blog-header">Explore More Savings-schemes</h3>
      <ul>
          <li onclick="window.location.href='/savings-schemes/Public-Provident-Fund'">
          <span>What is PPF?</span>
          <button><img src="/assets/go-blog.svg" alt="Go" /></button>
        </li>
        <li onclick="window.location.href='/savings-schemes/Sukanya-Samriddhi-Yojana'">
          <span>What is SSY?</span>
          <button><img src="/assets/go-blog.svg"alt="Go" /></button>
        </li>
        <li onclick="window.location.href='/savings-schemes/Senior-Citizens-Savings-Scheme'">
          <span>What is SCSS?</span>
          <button><img src="/assets/go-blog.svg" alt="Go" /></button>
        </li>
        <li onclick="window.location.href='/savings-schemes/National-Savings-Certificate'">
          <span>What is NSC?</span>
          <button><img src="/assets/go-blog.svg" alt="Go" /></button>
        </li>
        <li onclick="window.location.href='/savings-schemes/Kisan-Vikas-Patra'">
          <span>What is KVP?</span>
          <button><img src="/assets/go-blog.svg" alt="Go" /></button>
        </li>
        <li  onclick="window.location.href='/savings-schemes/Post-Office-Monthly-Income-Scheme'">
          <span>What is POMIS?</span>
          <button><img src="/assets/go-blog.svg" alt="Go" /></button>
        </li>
        <li onclick="window.location.href='/savings-schemes/Pradhan-Mantri-Vaya-Vandana-Yojana'">
          <span>What is PMVVY?</span>
          <button><img src="/assets/go-blog.svg" alt="Go" /></button>
        </li>
        <li onclick="window.location.href='/savings-schemes/Rural-Post-Office-Time-Deposit'">
          <span>What is TD?</span>
          <button><img src="/assets/go-blog.svg" alt="Go" /></button>
        </li>
        <li onclick="window.location.href='/savings-schemes/Post-Office-Recurring-Deposit'">
          <span>What is RD?</span>
          <button><img src="/assets/go-blog.svg" alt="Go" /></button>
        </li>
        <li onclick="window.location.href='/savings-schemes/Atal-Pension-Yojana'">
          <span>What is APY?</span>
          <button><img src="/assets/go-blog.svg" alt="Go" /></button>
        </li>
      </ul>
    </div>
</div>