---
layout: blog-base.njk
title: Sukanya Samriddhi Yojana (SSY) – Scheme for the girl child with high interest rates and tax benefits under Section 80C.
menu: '
<div class="breadcrumb-mobile">
  <div class="back-wrapper">
      <img src="/assets/Back.svg" alt="back icon" class="back-icon" />
      <button class="back-link" onclick="handleBack()">Back</button>
    </div>
  </div>
    <li><a href="/savings-schemes/">Savings-schemes</a></li>
    <li><img src="/assets/dote-active.svg" alt="dote-active"></li>
    <li><a href="#" class="active">What is SSY?</a></li>
'
---
<div class="main-container">
  <div class="contents1">
      <div class="blog-inner-container">
        <h3 class="blogh3">Sukanya Samriddhi Yojana (SSY): A Secure Start for Your Daughter’s Future</h3>
        <p>Raising a daughter with big dreams? Sukanya Samriddhi Yojana (SSY) is a government-backed savings scheme specially designed to help parents build a strong financial base for their girl child’s future. Whether it's for her education or marriage, SSY makes saving simple, disciplined, and rewarding.</p>
        <br>
        <h3 class="blogh3">What is Sukanya Samriddhi Yojana? </h3>
      <p>
        Launched under the 'Beti Bachao, Beti Padhao' initiative, SSY is a small-deposit savings scheme for the girl child. It offers attractive interest rates, tax benefits, and the security of a government-backed scheme. A parent or legal guardian can open an account in the name of a girl child below 10 years of age.</p>
      <h3 class="blogh3">Key Features of SSY: </h3>
      <p><b>High Interest Rate (Currently 8.2%):</b>The SSY interest rate is revised by the government quarterly. As of now, it's 8.2% annually—higher than most fixed deposits and PPF.</p>
      <p><b>Deposit Amount:</b>Minimum ₹250 per year; maximum ₹1.5 lakh per year. Flexible deposits in lump sum or installments (up to any number per year).</p>
      <p><b>Account Tenure:</b>The account matures after 21 years from the date of opening or at the time of the girl’s marriage after 18 years. Deposits need to be made only for the first 15 years.</p>
      <p><b>Tax Benefits (EEE Status):</b>Contributions qualify for tax deductions under Section 80C. Interest and maturity amounts are also tax-free.      </p>
      <p><b>One Account Per Girl Child :</b>One SSY account per girl is allowed. A family can open up to 2 accounts (for 2 daughters). A third is allowed only in case of twin girls.</p>
        <br>

      <div class="side-image1" onclick="window.location.href='https:play.google.com/store/apps/details?id=com.labh.io&pcampaignid=web_share'">
          <img src="/assets/for-mobile.svg" alt="Invest Now" />
      </div>
      <br>
      <br>
      <h3 class="blogh3">Is It Safe? </h3>
      <p>
        Absolutely. SSY is a government-supported savings plan. It’s not linked to the market, so returns are guaranteed. Your savings are protected, and the account can only be operated by the guardian until the girl turns 18.      </p>
      <br>
      <h3 class="blogh3">Why Choose PPF?</h3>
        <p>SSY stands out as a focused savings plan tailored for girl children. Here’s why many parents trust it:</p>
        <li>Long-term saving for your daughter’s education or marriage</li>
        <li>Earning higher interest than bank deposits</li>
        <li>Building financial discipline </li>
        <li>Gaining full tax exemptions</li>
        <br>
      <h3 class="blogh3">Eligibility Criteria to open a PPF account:</h3>
       <li>The girl child must be an Indian citizen</li>
       <li>She must be below 10 years of age</li>
       <li>The account can only be opened by a parent or legal guardian</li>

       <br>
      <h3 class="blogh3">Pre-requisites:</h3>
      <p>
        Documents and information needed:</p>
        <li>Girl child’s birth certificate</li>
        <li>Aadhaar and PAN of parent/guardian</li>
        <li>Address proof</li>
        <li>Initial deposit (minimum ₹250)</li>
        <br>

      <h3 class="blogh3">Step-by-Step Process to Open a SSY Account:</h3>
      <p>
        Online (Only through select banks):</p>
        <ol>
          <li>Log in to your bank’s net banking or mobile app.</li>
          <li>Select ‘Sukanya Samriddhi Account’.</li>
          <li>Fill out the online form and upload documents.</li>
          <li>Make the initial deposit.</li>
          <li>The account is activated and visible online.</li>
        </ol>
        <b>Option B: Open an SSY Account Offline (Bank/Post Office)</b>
        <ol>
          <li>Visit a post office or authorized bank branch.</li>
          <li>Ask for an SSY account opening form.</li>
          <li>Submit a filled form with required documents.</li>
          <li>Deposit initial amount.</li>
          <li>Receive the passbook after verification.</li>

        </ol>
        <br>
        <h3 class="blogh3">What Can ₹1.5 Lakh a Year Grow Into?</h3>
        <p>If you invest ₹1.5 lakh per year in SSY for 15 years at 8.2% annual interest:</p>
        <li><b>Total Investment:</b>₹22,50,000</li>
        <li><b>Maturity Value:</b>₹65+ lakhs (approx. at 8.2% interest, after 21 years)</li>
        <p>This means your savings could almost triple, providing your daughter a strong financial cushion when she needs it most.</p>
        <p>Try the <a href="">SSY Calculator</a> to estimate your exact returns.</p>
        <br>

        <h3 class="blogh3">SSY Withdrawal Rules</h3>
        <li><b>Partial Withdrawal:</b>Allowed after the girl turns 18, up to 50% of the balance for education.</li>
        <li><b>Full Withdrawal:</b>Allowed after maturity (21 years) or if the girl gets married after age 18.</li>
        <li><b>Premature Closure: </b> Allowed only in cases of death or medical emergencies.</li>
        <br>
        <h3 class="blogh3">Who Should Invest in SSY?</h3>
        <p>SSY is perfect for:</p>
        <li>Parents planning early for their daughter’s future</li>
        <li>Middle-income families looking for safe, high-interest investments</li>
        <li>Anyone who is eligible and wants tax savings with a long-term goal</li>
        <br>

        <h3 class="blogh3">Conclusion:</h3>
        <p>SSY isn’t just a savings account—it’s a thoughtful step toward securing your daughter’s dreams. With safe returns, tax benefits, and a clear purpose, it’s one of the best schemes for building a secure tomorrow for your little girl.</p>
        <br>
        <div class="sources-container">
          <h4 class="blogh2">Sources:</h4>
          <ul>
            <li onclick="window.location.href='https:www.indiapost.gov.in'">
              <span>India Post - SSY</span>
              <img src="/assets/source-arrow.png">
            </li>
            <li onclick="window.location.href='https:incometaxindia.gov.in'">
              <span>Income Tax India - Section 80C</span>
              <img src="/assets/source-arrow.png">
            </li>
            <li onclick="window.location.href='https:www.rbi.org.in'">
              <span>RBI - Small Savings Schemes</span>
              <img src="/assets/source-arrow.png">
            </li>
            <li onclick="window.location.href='https:www.hdfcbank.com/personal/tools-and-calculators/sukanya-samriddhi-yojana-calculator'">
              <span>SSY Calculator</span>
              <img src="/assets/source-arrow.png">
            </li>
          </ul>

          
        </div>
        <br>
        <br>
        <hr>
        <h3 class="blogh3">Want More Finance Tips?</h3>
          <p>For more stories, latest finance news, and to learn mutual funds in simple words—<a class="download" href='https:play.google.com/store/apps/details?id=com.labh.io&pcampaignid=web_share'>Download</a> the Labh app today and take your money knowledge to the next level.</p>
      </div>
     <div class="flex-col">
      <div class="side-image" onclick="window.location.href='https:play.google.com/store/apps/details?id=com.labh.io&pcampaignid=web_share'">
          <img src="/assets/blog-invest.svg" alt="Invest Now" />
      </div>
      <div class="blog-suggestions">
          <h3 class="blog-header">Explore More Savings-schemes</h3>
          <ul>
              <li onclick="window.location.href='/savings-schemes/Public-Provident-Fund'">
              <span>What is PPF?</span>
              <button><img src="/assets/go-blog.svg" alt="Go" /></button>
            </li>
            <li onclick="window.location.href='/savings-schemes/Sukanya-Samriddhi-Yojana'">
              <span>What is SSY?</span>
              <button><img src="/assets/go-blog.svg"alt="Go" /></button>
            </li>
            <li onclick="window.location.href='/savings-schemes/Senior-Citizens-Savings-Scheme'">
              <span>What is SCSS?</span>
              <button><img src="/assets/go-blog.svg" alt="Go" /></button>
            </li>
            <li onclick="window.location.href='/savings-schemes/National-Savings-Certificate'">
              <span>What is NSC?</span>
              <button><img src="/assets/go-blog.svg" alt="Go" /></button>
            </li>
            <li onclick="window.location.href='/savings-schemes/Kisan-Vikas-Patra'">
              <span>What is KVP?</span>
              <button><img src="/assets/go-blog.svg" alt="Go" /></button>
            </li>
            <li  onclick="window.location.href='/savings-schemes/Post-Office-Monthly-Income-Scheme'">
              <span>What is POMIS?</span>
              <button><img src="/assets/go-blog.svg" alt="Go" /></button>
            </li>
            <li onclick="window.location.href='/savings-schemes/Pradhan-Mantri-Vaya-Vandana-Yojana'">
              <span>What is PMVVY?</span>
              <button><img src="/assets/go-blog.svg" alt="Go" /></button>
            </li>
            <li onclick="window.location.href='/savings-schemes/Rural-Post-Office-Time-Deposit'">
              <span>What is TD?</span>
              <button><img src="/assets/go-blog.svg" alt="Go" /></button>
            </li>
            <li onclick="window.location.href='/savings-schemes/Post-Office-Recurring-Deposit'">
              <span>What is RD?</span>
              <button><img src="/assets/go-blog.svg" alt="Go" /></button>
            </li>
            <li onclick="window.location.href='/savings-schemes/Atal-Pension-Yojana'">
              <span>What is APY?</span>
              <button><img src="/assets/go-blog.svg" alt="Go" /></button>
            </li>
          </ul>
        </div>
     </div>
    
      
  </div>
  <div class="blog-suggestions1">
    <h3 class="blog-header">Explore More Savings-schemes</h3>
    <ul>
        <li onclick="window.location.href='/savings-schemes/Public-Provident-Fund'">
        <span>What is PPF?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Sukanya-Samriddhi-Yojana'">
        <span>What is SSY?</span>
        <button><img src="/assets/go-blog.svg"alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Senior-Citizens-Savings-Scheme'">
        <span>What is SCSS?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/National-Savings-Certificate'">
        <span>What is NSC?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Kisan-Vikas-Patra'">
        <span>What is KVP?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li  onclick="window.location.href='/savings-schemes/Post-Office-Monthly-Income-Scheme'">
        <span>What is POMIS?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Pradhan-Mantri-Vaya-Vandana-Yojana'">
        <span>What is PMVVY?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Rural-Post-Office-Time-Deposit'">
        <span>What is TD?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Post-Office-Recurring-Deposit'">
        <span>What is RD?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Atal-Pension-Yojana'">
        <span>What is APY?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
    </ul>
  </div>
  <div class="blog-suggestions1">
    <h3 class="blog-header">Explore More Savings-schemes</h3>
    <ul>
        <li onclick="window.location.href='/savings-schemes/Public-Provident-Fund'">
        <span>What is PPF?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Sukanya-Samriddhi-Yojana'">
        <span>What is SSY?</span>
        <button><img src="/assets/go-blog.svg"alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Senior-Citizens-Savings-Scheme'">
        <span>What is SCSS?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/National-Savings-Certificate'">
        <span>What is NSC?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Kisan-Vikas-Patra'">
        <span>What is KVP?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li  onclick="window.location.href='/savings-schemes/Post-Office-Monthly-Income-Scheme'">
        <span>What is POMIS?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Pradhan-Mantri-Vaya-Vandana-Yojana'">
        <span>What is PMVVY?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Rural-Post-Office-Time-Deposit'">
        <span>What is TD?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Post-Office-Recurring-Deposit'">
        <span>What is RD?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
      <li onclick="window.location.href='/savings-schemes/Atal-Pension-Yojana'">
        <span>What is APY?</span>
        <button><img src="/assets/go-blog.svg" alt="Go" /></button>
      </li>
    </ul>
  </div>
</div>