---
layout: pincode-base.njk
title: Labh
---
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<div id="nav-menu" class="nav-menu">
    <ul>
      <li><a href="http://labh.io/#" >Home</a></li>
      <li><a href="http://labh.io/#aboutsection">About us</a></li>
      <li><a href="http://labh.io/#pitch">Methodology</a></li>
      <li><a href="https://blog.labh.io">Blog</a></li>
      <li><a href="https://tawk.to/labh">Contact us</a></li>
    </ul>
  </div>


<div class="main-container">
    <div class="logo-title">
        <img src="/assets/Search.svg" alt="edge-image" />
          <span class="logo-text"><h1>Pin Code Finder</h1></span>
    </div>
      
      <p class="pin-para">India is a vast nation with 28 states and at least 718 districts. In order to identify regions, Indian postal department has allotted a unique code known as Pin Code to each district/village/town to aid delivery of postal services. Pin Code stands for Postal Index Number Code. Also known as Zip code or the area postal code, it holds importance as the entire postal system of the country works around it. </p>
        
      <div class="search-bar" style="position: relative;">
        <i class="fas fa-search search-icon"></i>
        <!-- <input type="text" placeholder="Search" class="search-input"> -->
         <input class="search-input" type="text" id="searchBar" placeholder="Search" >
          <ul id="suggestions" class="dropdown"></ul>
          <div id="resultContainer"></div>
      </div>

    <div class="search-results-container">
        <div class="search-results">
            <p class="result1"><b>Kushalnagara</b> Pin Code is <b>744205.</b> Kushalnagara comes under <b>North And Middle Andaman</b> district. </p>
        </div>
        <div class="info-grid">
            <div><span class="f1">Office</span><strong>Kaushalyanagar</strong></div>
            <div><span class="f2">State</span><strong>ANDAMAN & NICOBAR ISLANDS</strong></div>
            
            <div><span class="f1">Pincode</span><strong>744205</strong></div>
            <div><span class="f2">Country</span><strong>INDIA</strong></div>
            
            <div><span class="f1">Taluk</span><strong>Rangat</strong></div>
            <div><span class="f2">Telephone No.</span><strong>NA</strong></div>
            
            <div><span class="f1">Divison</span><strong>A - N Islands</strong></div>
            <div><span class="f2">Office Type</span><strong>B.O</strong></div>
            
            <div><span class="f1">District</span><strong>North And Middle Andaman</strong></div>
            <div><span class="f2">Delivery Status</span><strong>Delivery</strong></div>
            
            <div><span class="f1">Region</span><strong>Calcutta HQ</strong></div>
            <div><span class="f2">Related sub office</span><strong>Rangat S.O</strong></div>
            
            <div><span class="f1">Circle</span><strong>West Bengal</strong></div>
            <div><span class="f2">Related Head Office</span><strong>Port Blair H.O</strong></div>
        </div>
    </div>
          
    <div class="pincode-info">  
        <p class="result2"><b>Kushalnagara</b> Pin Code is <b>744205.</b> Kushalnagara comes under <b>North And Middle Andaman</b> district. </p>
     
        <div class="info-table">
              <div><span>Office</span><strong>Kaushalyanagar</strong></div>
             <div><span>Pincode</span><strong>744205</strong></div>
              <div><span>Taluk</span><strong>Rangat</strong></div>
             <div><span>Divison</span><strong>A - N Islands</strong></div>
             <div><span>District</span><strong>North And Middle Andaman</strong></div>
             <div><span>Region</span><strong>Calcutta HQ</strong></div>
             <div><span>Circle</span><strong>West Bengal</strong></div>
             <div><span>State</span><strong>ANDAMAN & NICOBAR ISLANDS</strong></div>
             <div><span>Country</span><strong>INDIA</strong></div>
              <div><span>Telephone No.</span><strong>NA</strong></div>
              <div><span>Office Type</span><strong>B.O</strong></div>
              <div><span>Delivery Status</span><strong>Delivery</strong></div>
              <div><span>Related sub office</span><strong>Rangat S.O</strong></div>
              <div><span>Related Head Office</span><strong>Port Blair H.O</strong></div>
       </div>
    </div>
</div>



  