.footer-company {
    width: 15%;

    a {
        font-size: 20px !important;
        line-height: 40px;
    }
}
.footer-expect {
    li {
        font-size: 20px !important;
    }
    a {
        color: black;
        text-decoration: none;
    }
}

.footer-methodologies li {
    font-size: 20px !important;
}

.footer-methodologies {
    display: flex;
    margin-top: 60px;
}

.footer-icon {
    width: 446px !important;
    height: 94px !important;
}

.footer-company a:hover {
    text-decoration: underline !important;
}

.footer-contact-us-wrapper {
    margin-left: 60px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links a {
    text-decoration: none;
    color: black;
}

.footer-links h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 60px;
}

.footer-links-section {
    width: 260px;
}

.footer-links-section ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-links-section li {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 8px;
}

.company-address {
    font-size: 24px;
    line-height: 36px;
    margin-top: 20px;
}
.social-media {
    font-size: 24px !important;
}
@media (min-width: 0px) and (max-width: 480px) {
    .footercontainer {
        padding: 0px !important;
        margin-left: 0px !important;
    }
    .footer-main {
        font-size: 10px;
        width: 100vw;
        justify-content: space-between;
    }
    .footer-main li {
        font-size: 10px !important;
    }
    .footer-main li a {
        font-size: 10px !important;
    }
    .footer-main span {
        font-size: 11px !important;
        font-weight: bolder !important;
    }
    .address {
        width: 100px;
        font-size: 10px;
    }
    .footer-contact-us-wrapper {
        display: block !important;
    }
    .footer-icon {
        width: 296px !important;
        height: 70px !important;
    }
    .footer-logo {
        font-size: 16px !important;
    }
    .company-address {
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        margin-top: 12px;
    }
    .mobile-footer h6,
    .mobile-footer strong {
        font-size: 16px !important;
        font-weight: 700 !important;
        line-height: 18px !important;
    }
    .mobile-footer-first {
        display: flex;
    }
    .mobile-footer a,
    .mobile-footer li {
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 18px !important;
        color: black;
    }
    .social-media {
        font-size: 16px !important;
        font-weight: 700 !important;
        margin-top: -47px !important;
    }
    .insta-link {
        width: 24px !important;
        height: 24px !important;
    }
    .facebook-link,
    .linkedin-link {
        width: 28px !important;
        height: 28px !important;
    }
    .x-link {
        margin-top: 3px !important;
        width: auto !important;
        height: 22px !important;
    }
    .contact-us-footer {
        font-size: 16px !important;
        font-weight: 700 !important;
    }
    .support-email {
        font-size: 14px !important;
        font-weight: 400 !important;
    }
    .support-email img {
        width: 30px !important;
        height: 33px !important;
    }
    .get-app {
        width: 107px !important;
        height: 36px !important;
    }
    footer {
        padding: 20px 16px !important;
        margin-top: 65px;
    }
    .mobile-footer-second {
        margin-top: 72px !important;
    }
    .footer-logo-wrapper {
        margin-top: 0px !important;
        justify-content: space-between;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .footercontainer {
        padding: 0px !important;
        margin-left: 0px !important;
    }
    .footer-main {
        font-size: 10px;
        width: 100vw;
        justify-content: space-between;
    }
    .footer-main li {
        font-size: 10px !important;
    }
    .footer-main li a {
        font-size: 10px !important;
    }
    .footer-main span {
        font-size: 11px !important;
        font-weight: bolder !important;
    }
    .address {
        width: 100px;
        font-size: 10px;
    }
    .footer-contact-us-wrapper {
        display: block !important;
    }
    .footer-icon {
        width: 296px !important;
        height: 70px !important;
    }
    .footer-logo {
        font-size: 16px !important;
    }
    .company-address {
        font-size: 18px;
        line-height: 30px;
        width: 100%;
        margin-top: 12px;
        margin-bottom: 32px;
    }
    .mobile-footer h6,
    .mobile-footer strong {
        font-size: 22px !important;
        font-weight: 700 !important;
        line-height: 18px !important;
    }
    .mobile-footer-first {
        display: flex;
    }
    .mobile-footer a,
    .mobile-footer li {
        font-size: 18px !important;
        font-weight: 400 !important;
        line-height: 35px !important;
        color: black;
    }
    .social-media {
        font-size: 18px !important;
        font-weight: 700 !important;
        // margin-top: -47px !important;
    }
    .insta-link {
        width: 38px !important;
        height: 40px !important;
    }
    .facebook-link,
    .linkedin-link {
        width: 44px !important;
        height: 44px !important;
    }
    .x-link {
        margin-top: 3px !important;
        width: auto !important;
        height: 30px !important;
    }
    .contact-us-footer {
        font-size: 18px !important;
        font-weight: 700 !important;
    }
    .support-email {
        font-size: 20px !important;
        font-weight: 400 !important;
    }
    .support-email img {
        width: 42px !important;
        height: 42px !important;
    }
    .get-app {
        width: 107px !important;
        height: 36px !important;
    }
    footer {
        padding: 24px 52px !important;
        margin-top: 65px;
    }
    .mobile-footer-second {
        margin-top: 72px !important;
    }
    .footer-logo-wrapper {
        margin-top: 0px !important;
    }
    .footer-links {
        font-size: 18px;
        
        h4, li {
            font-size: 18px;
        }

    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .footercontainer {
        padding: 0px !important;
        margin-left: 0px !important;
    }
    .footer-main {
        font-size: 10px;
        width: 100vw;
        justify-content: space-between;
    }
    .footer-main li {
        font-size: 10px !important;
    }
    .footer-main li a {
        font-size: 10px !important;
    }
    .footer-main span {
        font-size: 11px !important;
        font-weight: bolder !important;
    }
    .address {
        width: 100px;
        font-size: 10px;
    }
    .footer-contact-us-wrapper {
        display: block !important;
    }
    .footer-icon {
        width: 296px !important;
        height: 70px !important;
    }
    .footer-logo {
        font-size: 16px !important;
    }
    .company-address {
        font-size: 24px;
        line-height: 32px;
        width: 100%;
        margin-top: 12px;
        margin-bottom: 32px;
    }
    .mobile-footer h6,
    .mobile-footer strong {
        font-size: 26px !important;
        font-weight: 700 !important;
        line-height: 18px !important;
    }
    .mobile-footer-first {
        display: flex;
    }
    .mobile-footer a,
    .mobile-footer li {
        font-size: 22px !important;
        font-weight: 400 !important;
        line-height: 35px !important;
        color: black;
    }
    .social-media {
        font-size: 24px !important;
        font-weight: 700 !important;
        // margin-top: -47px !important;
    }
    .insta-link {
        width: 38px !important;
        height: 40px !important;
    }
    .facebook-link,
    .linkedin-link {
        width: 44px !important;
        height: 44px !important;
    }
    .x-link {
        margin-top: 3px !important;
        width: auto !important;
        height: 30px !important;
    }
    .contact-us-footer {
        font-size: 24px !important;
        font-weight: 700 !important;
    }
    .support-email {
        font-size: 22px !important;
        font-weight: 400 !important;
    }
    .support-email img {
        width: 42px !important;
        height: 42px !important;
    }
    .get-app {
        width: 107px !important;
        height: 36px !important;
    }
    footer {
        padding: 24px 52px !important;
        margin-top: 65px;
    }
    .mobile-footer-second {
        margin-top: 72px !important;
    }
    .footer-logo-wrapper {
        margin-top: 0px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .footer-icon {
        width: 322px !important;
        height: 94px !important;
    }
}
