---
layout: mutual-fund-base.njk
title: Labh
menu: '
    <li><a href="/mutual-funds/">Baskets</a></li>
    <li><img src="/assets/dote-active.svg" alt="dote-active"></li>
    <li><a href="#" class="active" id="basket-name"></a></li>
'
other_scripts: '
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
'
---

<div class="main-container">
    <div class="contents">
        <h1 id="basket-name-heading"></h1>
        <p id="basket-description"></p>
    </div>
    <div class="mf-chart-container">
        <div id="chart-loader" style="text-align: center; padding: 20px">
            <p>Loading chart, please wait...</p>
        </div>
        <div id="chart"></div>
    </div>
    <div class="top-holdings">
        <h1>Top Holdings</h1>
        <div class="top-holdings-list" id="top-holdings-list"></div>
    </div>

    <div class="top-holdings sector">
        <h1>Sectors</h1>
        <div class="top-holdings-list" id="sectors"></div>
    </div>
</div>

<script src="/basket.js"></script>
