@media (min-width: 0px) and (max-width: 744px) {
    .nav-hr {
        display: block;
    }
    .mf-chart-container {
        min-height: calculate-rem(270);
        .year-container {
            margin-top: calculate-rem(0);
            a {
                width: calculate-rem(148);
                height: calculate-rem(34);
                font-size: calculate-rem(16);
            }
            .years {
                gap: calculate-rem(8);
                span {
                    width: calculate-rem(58);
                    height: calculate-rem(26);
                    font-size: calculate-rem(14);
                }
            }
        }
    }

    .mf-details-container {
        flex-direction: column;
        font-size: calculate-rem(16);
        font-weight: 500;
        gap: 0px;

        .details-1,
        .details-2 {
            width: 100%;
            border-radius: calculate-rem(16);
        }

        .details-1 {
            margin-top: calculate-rem(27);
            padding: calculate-rem(16) calculate-rem(27);

            .custom-margin {
                margin-bottom: calculate-rem(16);
            }
        }

        .detail {
            div {
                margin-bottom: calculate-rem(16);
            }
        }

        .details-2 {
            margin-top: calculate-rem(16);
        }

        .toggler {
            width: calculate-rem(227);
            height: calculate-rem(38);

            .sip-span {
                width: calculate-rem(117);
                height: calculate-rem(34);
            }

            .lumpsum-span {
                width: calculate-rem(102);
                height: calculate-rem(34);
            }
        }

        .custom-flex {
            flex-direction: column;
        }

        .year-selector,
        .year-list,
        .year-list span {
            width: calculate-rem(94);
        }

        .year-selector {
            height: calculate-rem(34);
        }

        .year-list {
            padding-top: calculate-rem(42);
            padding-left: calculate-rem(5);
            padding-right: calculate-rem(5);

            span {
                height: calculate-rem(26);
                width: 100%;
            }
        }
        .mf-cal-content {
            flex-direction: inherit;
            gap: calculate-rem(8);

            div {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .top-holdings {
        margin-top: calculate-rem(17);
        font-size: calculate-rem(12);
        h1 {
            font-size: calculate-rem(16);
            margin-bottom: calculate-rem(20);
        }

        .top-holding {
            width: 100%;
        }
        .percentage-container {
            height: calculate-rem(8);
            margin-top: calculate-rem(10);
            margin-bottom: calculate-rem(20);
            justify-content: space-between;

            div:last-of-type {
                width: 10%;
            }
        }

        .holding-percentage {
            width: 80%;
        }
    }
}

@media (min-width: 745px) and (max-width: 1200px) {
    .mf-chart-container {
        .year-container {
            margin-top: calculate-rem(70);
            .years {
                span {
                    width: calculate-rem(94);
                    height: calculate-rem(44);
                    font-size: calculate-rem(16);
                }
            }
            a {
                width: calculate-rem(154);
                height: calculate-rem(40);
                font-size: calculate-rem(14);
            }
        }
    }

    .mf-details-container {
        flex-direction: column;
        font-size: calculate-rem(20);
        gap: 0px;

        .details-1 {
            margin-top: calculate-rem(34);
            width: 100%;
            border-radius: calculate-rem(32);
            flex-direction: row;
            justify-content: space-between;

            .custom-margin {
                margin-bottom: 0;
            }

            .w-100 {
                width: calculate-rem(230) !important;
            }

            .line {
                width: calculate-rem(2);
                height: 100px;
                background: #f5f5f599;
            }
        }

        .details-2 {
            margin-top: calculate-rem(24);
            width: 100%;
        }

        .detail {
            div {
                margin-bottom: calculate-rem(26);
            }
        }
    }

    .top-holdings {
        margin-top: calculate-rem(60);
        h1 {
            font-size: calculate-rem(28);
            margin-bottom: calculate-rem(40);
        }

        .top-holding {
            width: 100%;
        }
    }
}
