@media (min-width: 0px) and (max-width: 744px) {
    .main-container {
        margin-top: calculate-rem(14);
    }
    .contents {
        h1 {
            font-size: calculate-rem(20);
            margin-bottom: calculate-rem(4);
        }
        p {
            font-size: calculate-rem(12);
        }
    }
    .categories {
        font-size: calculate-rem(12);
        gap: calculate-rem(12);
        margin: calculate-rem(24) 0;
        .category {
            max-width: calculate-rem(124);
            flex: 1 1 calculate-rem(124);
            height: calculate-rem(32);
        }

        .active {
            img {
                width: calculate-rem(18);
                height: calculate-rem(18);
            }
        }

        .solution-oriented {
            max-width: calculate-rem(156);
        }
    }

    .cards {
        margin-bottom: calculate-rem(0);
        .card-description {
            line-height: calculate-rem(20);
        }
    }

    .funds {
        margin-top: calculate-rem(33);

        h1 {
            font-size: calculate-rem(20);
            margin-bottom: calculate-rem(25);
        }

        .fund {
            font-size: calculate-rem(14);

            .risk {
                width: 100%;
                font-size: calculate-rem(12);
            }
        }
    }

    .pagination {
        margin-top: calculate-rem(17);
        font-size: calculate-rem(14);

        .pages-left {
            display: none;
        }
        .goto,
        .items-per-page {
            div,
            span {
                width: calculate-rem(47);
            }

            img {
                width: calculate-rem(14);
            }

            ul {
                padding: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .pages-left-mobile {
        display: block;
    }
}

@media (min-width: 745px) and (max-width: 1200px) {
    .menu-bar {
        font-size: calculate-rem(16);
    }
    .main-container {
        margin-top: calculate-rem(32);
    }

    .contents {
        h1 {
            font-size: calculate-rem(28);
            margin-bottom: calculate-rem(8);
        }
        p {
            font-size: calculate-rem(16);
        }
    }

    .categories {
        font-size: calculate-rem(17);
        gap: calculate-rem(26);
        margin: calculate-rem(32) 0;

        .category {
            max-width: calculate-rem(150);
            height: calculate-rem(50);
        }
    }

    .cards {
        margin-top: calculate-rem(32);
    }

    .card {
        .card-heading {
            font-size: calculate-rem(20);
        }
        .card-description {
            font-size: calculate-rem(16);
            line-height: calculate-rem(22);
        }
    }

    .funds {
        margin-top: calculate-rem(32);
        h1 {
            font-size: calculate-rem(28);
            margin-bottom: calculate-rem(40);
        }

        .fund {
            font-size: calculate-rem(20);

            .risk {
                font-size: calculate-rem(16);
                width: calculate-rem(143);
                height: calulate-rem(34);
            }
        }
    }

    .pagination {
        font-size: calculate-rem(20);
    }
}
