@import "equations";
@import "loader";

body {
    background-color: #000000;
    color: white;
    height: 100vh;
}

.header {
    padding-top: calculate-rem(38);
    padding-left: calculate-rem(20);
    // padding-bottom: calculate-rem(10);
    position: sticky;
    top: 0;
    background: black;
    padding-right: calculate-rem(20);
    .logo {
        img {
            width: calculate-rem(107);
            height: calculate-rem(37);
        }
    }
    .go-back {
        margin-top: calculate-rem(46);
        padding-bottom: calculate-rem(20);
        border-bottom: 0.5px solid grey;
        img {
            width: calculate-rem(25);
            height: calculate-rem(25);
            margin-right: calculate-rem(13);
        }
        .details {
            .h {
                font-weight: 600;
                font-size: calculate-rem(16);
            }
            .b {
                font-weight: 500;
                font-size: calculate-rem(14);
                color: #ffffffb2;
            }
        }
    }
}

$padding-lef-right: calculate-rem(28);

.contents {
    padding: calculate-rem(0) $padding-lef-right;
    height: 65vh;

    .button-container {
        position: fixed;
        bottom: calculate-rem(40);
        left: 0;
        width: 100%;
        padding: 0 $padding-lef-right;
    }

    .button {
        width: -webkit-fill-available;
        height: calculate-rem(46);
        background-color: #a663ff;
        border-radius: calculate-rem(20);
        font-size: calculate-rem(14);
        font-weight: 600;
    }
}

.c-warning {
    .exclamation {
        width: calculate-rem(22);
        height: calculate-rem(22);
    }
    span {
        font-weight: 600;
        font-size: calculate-rem(14);
        color: #ffa443;
    }
    .helper-container {
        margin-top: calculate-rem(38);
        img,
        span {
            margin-bottom: calculate-rem(11);
        }
    }
    .help {
        font-weight: 500;
        font-size: calculate-rem(14);
        color: #f5f5f5cc;
        text-align: center;
    }
}

.form-screen {
    form {
        padding-bottom: calculate-rem(70);
        margin-top: calculate-rem(40);
    }
    label {
        color: #f5f5f5cc;
        margin-bottom: calculate-rem(12);
        font-size: calculate-rem(17);
        font-weight: 500;
    }
    .title {
        font-weight: 600;
        font-size: calculate-rem(14);
        margin-bottom: calculate-rem(25);
        margin-top: calculate-rem(38);
    }
    input,
    textarea {
        border-radius: calculate-rem(40);
        height: calculate-rem(41);
        background-color: #cecbff33;
        border: 0px;
        margin-bottom: calculate-rem(14);
        color: #cecbff;
    }
    input::placeholder,
    textarea::placeholder {
        color: #cecbff66;
        font-weight: 600;
        font-size: calculate-rem(14);
    }
    input:focus,
    textarea:focus {
        background-color: #cecbff33;
        color: #cecbff;
        box-shadow: none;
        font-weight: 600;
    }
    textarea {
        height: calculate-rem(109);
        border-radius: calculate-rem(20);
    }
    .error {
        border: 1px solid red;
    }
}

.list-screen {
    margin-top: calculate-rem(25);
    padding-bottom: calculate-rem(10);

    .list {
        width: 100%;
        border-radius: calculate-rem(20);
        margin-bottom: calculate-rem(16);
        background: linear-gradient(
            117.03deg,
            rgba(64, 18, 124, 0.3) 15.67%,
            rgba(166, 99, 255, 0.3) 47.49%,
            rgba(64, 18, 124, 0.3) 84.33%
        );
        border: 0.4px solid #a763ff85;
        padding: calculate-rem(20) calculate-rem(16);
    }

    .l-header {
        margin-bottom: calculate-rem(20);
        .verified {
            img {
                width: calculate-rem(15);
                height: calculate-rem(15);
            }
            span {
                font-size: calculate-rem(12);
            }
        }
    }

    .d {
        margin-bottom: calculate-rem(20);
        span {
            font-weight: 600;
            font-size: calculate-rem(18);
        }

        img {
            width: calculate-rem(24);
            height: calculate-rem(24);
            border-radius: calculate-rem(4);
        }
    }

    .delete {
        img {
            width: calculate-rem(15);
            height: calculate-rem(16);
        }
    }

    .c-button {
        height: calculate-rem(41);
        background: #cecbff35;
        border-radius: calculate-rem(8);

        img {
            width: calculate-rem(19);
            height: calculate-rem(19);
        }

        span {
            font-weight: 600;
            font-size: calculate-rem(14);
            color: #f5f5f5cc;
        }
    }
}

.modal-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #000000ab;
    z-index: 10;
    .c-modal {
        padding: 0 calculate-rem(32);
        padding-top: calculate-rem(36);
        height: calculate-rem(237);
        width: 100%;
        background: white;
        border-top-left-radius: calculate-rem(32);
        border-top-right-radius: calculate-rem(32);
        transform: translateY(100%);
        transition: transform 0.1s ease-out;

        h4 {
            font-weight: 600;
            font-size: calculate-rem(18);
        }

        img {
            width: calculate-rem(28);
            height: calculate-rem(28);
            margin-bottom: calculate-rem(20);
        }

        .contents {
            padding: 0;
            font-weight: 500;
            font-size: calculate-rem(14);
            color: #111111b2;
        }

        .button-container {
            .button {
                background: #1111111f;
                color: #111111;
                font-size: calculate-rem(14);
                font-weight: 600;
            }

            .remove {
                background: #ff615f;
                color: #ffffff;
            }

            .normal {
                background: #a663ff;
                color: #ffffff;
            }
        }
    }

    .remove {
        h4 {
            color: #ff615f;
        }
    }

    .success {
        h4 {
            color: #168465;
        }
    }
}
