@media (min-width: 0px) and (max-width: 744px) {
    .unsubscribe {
        height: calculate-rem(629);
        padding: 0 calculate-rem(20);

        .unsub-logo {
            width: calculate-rem(85);
            height: calculate-rem(28);
        }

        .info,
        .contents {
            width: 100%;
        }

        #email {
            width: calculate-rem(253);
            max-height: calculate-rem(34);
            font-size: calculate-rem(14);
            font-weight: calculate-rem(500);
        }

        h4 {
            font-size: calculate-rem(16);
            font-weight: 600;
        }

        .text-center {
            max-width: 100%;
            height: auto;
            font-size: calculate-rem(14);
        }

        .form-container {
            width: calculate-rem(278);

            .dropdown-btn {
                width: 100%;
                height: calculate-rem(36);
                font-size: calculate-rem(14);
                font-weight: 500;

                img {
                    width: calculate-rem(22);
                }
            }

            #reason {
                height: calculate-rem(138);
            }
            #reason::placeholder {
                font-size: calculate-rem(14);
            }
        }
        .underline-button {
            font-size: calculate-rem(16);
            font-weight: 600;
        }
        .note {
            font-size: calculate-rem(12);
            font-weight: 500;
            padding: 0;
        }
    }
}

@media (min-width: 745px) and (max-width: 1200px) {
    .unsubscribe {
        height: calculate-rem(648);
        padding: 0 calculate-rem(30);

        .unsub-logo {
            width: calculate-rem(85);
            height: calculate-rem(28);
        }

        #email {
            width: calculate-rem(284);
            height: calculate-rem(44);
            font-size: calculate-rem(16);
            margin-bottom: calculate-rem(16);
        }

        h4 {
            font-size: calculate-rem(26);
            font-weight: 600;
        }
        .text-center {
            font-size: calculate-rem(16);
            font-weight: 600;
            margin-top: calculate-rem(8);
        }

        .form-container {
            width: calculate-rem(467) !important;

            .dropdown-btn {
                height: calculate-rem(48);
                font-size: calculate-rem(16);
                font-weight: 600;

                img {
                    width: calculate-rem(26);
                }
            }

            #reason::placeholder {
                font-size: calculate-rem(16);
            }
        }

        .underline-button {
            margin-top: calculate-rem(44);
            font-size: calculate-rem(16);
            font-weight: 600;
        }
    }
}
