@function calculate-rem($size) {
    @return calc($size / 16) * 1rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.857) transparent;
}

body {
    background: black;
    color: white;
    font-family: Inter, sans-serif;
}

@import "nav";
@import "menu_bar";


.main-container {
    margin-left: $nav-margin-left;
    margin-right: $nav-margin-left;
    margin-bottom: calculate-rem(80);

    h1,
    h2 {
        font-weight: 700;
        background: linear-gradient(
            148.3deg,
            #e5d4fe 4.55%,
            #ffffff 52.27%,
            #e8dff4 95.45%
        );
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h1 {
        font-size: calculate-rem(48);
    }

    h2 {
        font-size: calculate-rem(32);
    }
}

.contents {
    p {
        color: #fcfcfcb2;
        font-size: calculate-rem(28);
        font-weight: 400;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calculate-rem(375), 1fr));
    gap: calculate-rem(37.5) calculate-rem(37.5);
    margin-top: calculate-rem(71);
}

.cards-grid-constant-gap {
    grid-template-columns: repeat(
        auto-fill,
        minmax(calculate-rem(375), max-content)
    );
}

.card {
    position: relative;
    width: 100%;
    height: calculate-rem(312);
    background: linear-gradient(
        143.04deg,
        #342b41 -7.3%,
        #3e3748 52.6%,
        #342b41 103.97%
    );
    border-radius: calculate-rem(28);
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding-left: calculate-rem(32);
    padding-right: calculate-rem(32);

    img:nth-child(1) {
        position: absolute;
        top: 0px;
        left: 0px;
        width: calculate-rem(94);
        height: calculate-rem(70);
    }

    img:nth-child(2) {
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform: scaleX(-1) scaleY(-1);
        width: calculate-rem(94);
        height: calculate-rem(70);
    }

    img:nth-child(3) {
        position: absolute;
        width: calculate-rem(55);
        height: calculate-rem(55);
        right: 1rem;
        top: 1rem;
    }

    .card-heading {
        font-size: calculate-rem(20);
        font-weight: 700;
        color: #cecbff;
        margin-bottom: calculate-rem(10);
    }

    .card-description {
        font-size: calculate-rem(27);
        font-weight: 400;
        color: #f5f5f5cc;
        line-height: 2rem;
    }
}

.card:hover {
    background: linear-gradient(
        148.3deg,
        #e5d4fe 4.55%,
        #ffffff 52.27%,
        #e8dff4 95.45%
    );
    .card-heading {
        color: #a663ff;
    }
    .card-description {
        color: #111111b2;
    }
}

.calculator-card {
    position: relative;
    background: linear-gradient(
        148.3deg,
        #e5d4fe 4.55%,
        #ffffff 52.27%,
        #e8dff4 95.45%
    );
    border-radius: calculate-rem(40);
    height: auto;
    width: 100%;
    overflow: hidden;
    color: black;
    padding-left: calculate-rem(82);
    padding-right: calculate-rem(82);
    padding-top: calculate-rem(85);
    padding-bottom: calculate-rem(85);
    font-size: calculate-rem(20);
    font-weight: 400;
    margin-top: calculate-rem(33);
    margin-bottom: calculate-rem(83);

    img {
        width: calculate-rem(136);
        height: calculate-rem(104);
    }

    img:nth-child(1) {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    img:nth-child(2) {
        position: absolute;
        bottom: 0px;
        right: 0px;
        transform: scaleX(-1) scaleY(-1);
    }

    .toggler {
        width: calculate-rem(238);
        height: calculate-rem(52);
        background-color: white;
        border-radius: calculate-rem(20);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: calculate-rem(2);
        margin-bottom: calculate-rem(51);

        span {
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sip-span {
            border-radius: calculate-rem(20);
            width: calculate-rem(98);
            height: calculate-rem(48);
            padding-left: calculate-rem(10);
            padding-right: calculate-rem(10);
        }

        .lumpsum-span {
            width: calculate-rem(116);
            height: calculate-rem(48);
            border-radius: calculate-rem(20);
        }

        .active {
            background-color: #a663ff;
            color: white;
        }
    }
}

.calculator-card-contents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    label {
        margin-bottom: calculate-rem(12);
    }

    input[type="range"] {
        border-radius: calculate-rem(12);
        appearance: none;
        outline: none;
        width: 100%;
        margin-top: calculate-rem(16);
        margin-bottom: calculate-rem(32);
    }

    input[type="range"]::-webkit-slider-runnable-track {
        background: #a663ff66;
        height: 10px;
        border-radius: 5px;
    }

    input[type="range"]::-webkit-slider-thumb {
        appearance: none;
        height: calculate-rem(45);
        width: calculate-rem(45);
        background-image: url("../../assets/slider-thumb.svg");
        border-radius: 50%;
        cursor: pointer;
        margin-top: calculate-rem(-18);
    }

    input[type="range"]:focus {
        outline: none;
    }

    input[type="radio"] {
        appearance: none;
        width: 22px;
        height: 22px;
        margin-top: calculate-rem(16);
        border: 3px solid #a663ff;
        border-radius: 50%;
    }

    input[type="radio"]:checked {
        top: 50%;
        left: 50%;
        width: 22px;
        height: 22px;
        background-color: #a259ff;
        border-radius: 50%;
        // transform: translate(-50%, -50%);
    }

    .custom-margin-want-to-retire {
        margin-top: calculate-rem(33);
    }

    .result {
        margin-bottom: calculate-rem(20);
        label {
            color: #000000;
            opacity: 60%;
            font-weight: 600;
        }
    }

    .total {
        color: #9a5ced;
    }

    a {
        margin-top: calculate-rem(28);
        color: black;
        text-decoration: none;
        font-size: calculate-rem(24);
        font-weight: 700;
        border-radius: calculate-rem(40);
        display: block;
        background: linear-gradient(
            96.7deg,
            #7c7a99 2.6%,
            #cecbff 52.91%,
            #7c7a99 110.75%,
            #cecbff 186.22%
        );
        width: auto;
        height: calculate-rem(66);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .legend {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .legend-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: calculate-rem(20);
        font-weight: 400;
        color: #333;
    }

    .legend-color {
        width: calculate-rem(31);
        height: calculate-rem(21);
        border-radius: calculate-rem(6);
        margin-left: calculate-rem(20);
    }

    .graph-container {
        display: flex;
        align-items: center;
    }

    .graph {
        width: calculate-rem(242);
        height: calculate-rem(242);
        border-radius: 50%;
        background: conic-gradient(
            #9a5ced 0% 0%,
            /* Est. Returns */ #e8d8fd 0% 100% /* Invested amt */
        );
        position: relative;
    }

    .graph::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 160px;
        height: 160px;
        background: #f9f7fc;
        border-radius: 50%;
    }

    .input-limits {
        display: flex;
        justify-content: space-between;
        font-size: calculate-rem(14);
        font-weight: 400;
        color: #000000cc;
        margin-bottom: calculate-rem(4);
    }

    .dropdown {
        position: relative;
        background-color: white;
        border-radius: calculate-rem(20);
        margin-bottom: calculate-rem(20);
    }

    .dropdown-selected {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #a663ff33;
        height: calculate-rem(40);
        border-radius: calculate-rem(20);
        padding-right: calculate-rem(8);
        padding-left: calculate-rem(20);
        font-size: calculate-rem(16);
        font-weight: 600;

        img {
            width: calculate-rem(28);
            height: calculate-rem(28);
            position: relative;
        }
    }

    .dropdown-options {
        position: absolute;
        height: calculate-rem(160);
        background-color: white;
        z-index: 1;
        width: -webkit-fill-available;
        font-size: calculate-rem(16);
        font-weight: 400;
        border-bottom-left-radius: calculate-rem(20);
        border-bottom-right-radius: calculate-rem(20);

        div {
            display: flex;
            align-items: center;
            padding-left: calculate-rem(20);
            padding-right: calculate-rem(8);
            height: calculate-rem(40);
            cursor: pointer;
            color: #00000099;
        }

        div:hover {
            background-color: #f0f0f0;
            color: #000000;
        }
    }

    .border-class {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="number"] {
        border: 0px;
        background-color: transparent;
        border-bottom: 1px solid black;
        width: 100%;
        margin-bottom: calculate-rem(40);
    }

    input[type="number"]:focus {
        outline: none;
    }

    .box-result {
        width: calculate-rem(435);
        height: calculate-rem(183);
        background-color: #ede0ff;
        border-radius: calculate-rem(10);
        border: 1px solid #a663ffcc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 13.8px 0px #a663ff38;

        .heading {
            font-size: calculate-rem(20);
            font-weight: 400;
            color: #000000cc;
            margin-bottom: calculate-rem(20);
        }
        .amount {
            font-weight: 700;
            font-size: calculate-rem(40);
        }
    }
    .cal-content {
        display: flex;
        justify-content: space-between;
        width: calculate-rem(411);
        margin-bottom: calculate-rem(16);

        span {
            font-weight: 600;
        }
    }
}

.sip-calculator {
    height: calculate-rem(673);

    .calculator-card-contents {
        height: calculate-rem(368);

        .graph-container {
            margin-bottom: calculate-rem(32);
        }

        .graph {
            width: calculate-rem(152);
            height: calculate-rem(152);
        }

        .graph::after {
            width: calculate-rem(106);
            height: calculate-rem(106);
        }

        hr {
            margin-bottom: calculate-rem(20);
            margin-top: calculate-rem(20);
        }

        input[type="range"] {
            margin-top: calculate-rem(32);
        }
    }
}

.education-calculator {
    height: calculate-rem(740);

    input[type="radio"] {
        margin-top: 0;
    }

    .padding-4px {
        padding-top: calculate-rem(4);
        padding-bottom: calculate-rem(4);
    }
}

.fixed-deposit-calculator {
    height: calculate-rem(705);
    .graph-container {
        margin-bottom: calculate-rem(32);
    }
    .graph {
        width: calculate-rem(152);
        height: calculate-rem(152);
    }

    .graph::after {
        width: calculate-rem(106);
        height: calculate-rem(106);
    }

    input[type="range"] {
        margin-top: calculate-rem(32);
    }
}

.pf-calculator {
    .calculator-card-contents {
        .box-result {
            width: auto;
            margin-top: calculate-rem(40);
        }
        .rate-container {
            width: calculate-rem(75);
            height: calculate-rem(40);
            background-color: #a663ff33;
            height: fit-content;
            text-align: center;
        }

        #rate:focus {
            outline: none;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Remove arrows in Firefox */
        input[type="number"] {
            appearance: textfield;
        }
    }
}

.car-loan-calculator {
    .graph-container {
        color: #00000099;
        flex-direction: column;

        .legend-item,
        .cal-content {
            color: #00000099;
        }

        .legend-item {
            margin-bottom: calculate-rem(12);
        }
        .cal-content {
            justify-content: center;
        }

        #principal-amt,
        #interest-amt,
        #total-amount {
            color: black;
        }

        #total-amount {
            margin-left: calculate-rem(5);
        }

        .graph {
            width: calculate-rem(196);
            height: calculate-rem(196);
            margin-bottom: calculate-rem(32);
        }

        .graph::after {
            width: calculate-rem(128);
            height: calculate-rem(128);
        }
    }
}

.guide {
    font-size: calculate-rem(28);

    h2 {
        margin-bottom: calculate-rem(40);
    }

    ul {
        margin-bottom: calculate-rem(60);
    }

    table {
        width: 100%;
        margin-bottom: calculate-rem(60);
        margin-top: calculate-rem(50);
    }

    td {
        border: 1px solid #fff;
        padding: 10px;
        text-align: center;
    }

    p,
    td,
    li {
        color: #fcfcfc;
        opacity: 80%;
    }

    .formula {
        color: #cecbff;
        overflow: scroll;
    }
}

@import "faqs";
@import "footer";
@import "media_queries";

.display-none {
    display: none;
}

.margin-bottom-100 {
    margin-bottom: calculate-rem(100) !important;
}

.margin-none {
    margin: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}

.transform-y {
    transform: scaleY(-1);
}
