.search-bar-container .search-dropdown span {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.main-container {
  margin-top: 2.5rem;
}

.contents h1 {
  font-size: 2.5rem;
}
.contents p {
  font-size: 1.25rem;
}

.cards .card {
  text-decoration: none;
}

.categories {
  gap: 1.625rem;
  margin: 2.625rem 0rem;
  font-size: 1.25rem;
}
.categories .category {
  color: #cecbff;
  flex: 1 1 17.1875rem;
  max-width: 17.1875rem;
  height: 3.75rem;
  background: linear-gradient(95.56deg, rgba(124, 122, 153, 0.32) 2.21%, rgba(206, 203, 255, 0.32) 42.84%, rgba(124, 122, 153, 0.32) 95.18%);
  border-radius: 2.5rem;
  border: 1px solid rgba(206, 203, 255, 0.4);
  text-decoration: none;
}
.categories .category img {
  display: none;
}
.categories .category:hover {
  background: linear-gradient(148.3deg, #e5d4fe 4.55%, #ffffff 52.27%, #e8dff4 95.45%);
  color: #161432;
}
.categories .active {
  background: linear-gradient(148.3deg, #e5d4fe 4.55%, #ffffff 52.27%, #e8dff4 95.45%);
  color: #161432;
}
.categories .active img {
  display: block;
  width: 1.625rem;
  height: 1.625rem;
  margin-left: 1.25rem;
}

.card .card-description {
  line-height: 2.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards {
  margin-bottom: 2.625rem;
}

.funds {
  position: relative;
  margin-top: 5rem;
}
.funds h1 {
  font-size: 2.5rem;
  margin-bottom: 3.75rem;
}
.funds .view-more {
  position: absolute;
  right: 0px;
  top: 0rem;
  width: 11.25rem;
  height: 3rem;
  border-radius: 6.25rem;
  background-color: rgba(206, 203, 255, 0.1607843137);
  font-size: 1.25rem;
  color: #cecbff;
}
.funds .funds-list {
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.funds .fund {
  width: 32.25rem;
  font-size: 1.25rem;
  color: rgba(245, 245, 245, 0.8);
  margin-bottom: 1.5rem;
  text-decoration: none;
}
.funds .header {
  gap: 1rem;
  cursor: pointer;
}
.funds .header img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}
.funds .header:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}
.funds .risk {
  color: rgba(245, 245, 245, 0.8);
  font-weight: 400;
  margin-top: 1rem;
  font-size: 1rem;
  width: 9.0625rem;
  height: calulate-rem(34);
  background-color: rgba(206, 203, 255, 0.2);
  border-radius: 2rem;
}
.funds .risk span {
  margin-left: 1.25rem;
  color: white;
}

.scheme-list {
  gap: 2.75rem;
}
.scheme-list .scheme {
  max-width: 18.125rem;
  height: 4rem;
  gap: 1.0625rem;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  flex: 1 1 16.375rem;
}
.scheme-list .scheme img {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}
.scheme-list .scheme span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.scheme-list .scheme:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.pagination {
  font-size: 1.5rem;
  color: rgba(245, 245, 245, 0.8);
  backdrop-filter: blur(6px) saturate(140%);
  font-weight: 500;
  margin-top: 7.375rem;
}
.pagination .goto,
.pagination .items-per-page {
  position: relative;
}
.pagination .goto span,
.pagination .goto div,
.pagination .items-per-page span,
.pagination .items-per-page div {
  width: 5.5rem;
  padding-top: 0.5rem;
  background-color: #292933;
}
.pagination .goto span,
.pagination .items-per-page span {
  display: block;
  height: 3.0625rem;
  margin-left: 0.8125rem;
}
.pagination .goto div,
.pagination .items-per-page div {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 3.0625rem;
  max-height: 9.375rem;
  overflow: scroll;
}
.pagination .goto div ul,
.pagination .items-per-page div ul {
  list-style-type: none;
}
.pagination .goto div ul a,
.pagination .items-per-page div ul a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.8);
}
.pagination .pages-left {
  font-size: 1.125rem;
}

.pages-left-mobile {
  display: none;
  text-align: right;
  color: rgba(245, 245, 245, 0.8);
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

@media (min-width: 0px) and (max-width: 744px) {
  .main-container {
    margin-top: 0.875rem;
  }
  .contents h1 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }
  .contents p {
    font-size: 0.75rem;
  }
  .categories {
    font-size: 0.75rem;
    gap: 0.75rem;
    margin: 1.5rem 0;
  }
  .categories .category {
    max-width: 7.75rem;
    flex: 1 1 7.75rem;
    height: 2rem;
  }
  .categories .active img {
    width: 1.125rem;
    height: 1.125rem;
  }
  .categories .solution-oriented {
    max-width: 9.75rem;
  }
  .cards {
    margin-bottom: 0rem;
  }
  .cards .card-description {
    line-height: 1.25rem;
  }
  .funds {
    margin-top: 2.0625rem;
  }
  .funds h1 {
    font-size: 1.25rem;
    margin-bottom: 1.5625rem;
  }
  .funds .fund {
    font-size: 0.875rem;
  }
  .funds .fund .risk {
    width: 100%;
    font-size: 0.75rem;
  }
  .funds .view-more {
    font-size: 0.6875rem;
    width: 5rem;
    height: 1.75rem;
  }
  .pagination {
    margin-top: 1.0625rem;
    font-size: 0.875rem;
  }
  .pagination .pages-left {
    display: none;
  }
  .pagination .goto div,
  .pagination .goto span,
  .pagination .items-per-page div,
  .pagination .items-per-page span {
    width: 2.9375rem;
  }
  .pagination .goto img,
  .pagination .items-per-page img {
    width: 0.875rem;
  }
  .pagination .goto ul,
  .pagination .items-per-page ul {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .scheme-list {
    gap: 0.0625rem;
  }
  .scheme-list .scheme {
    flex: 1 1 16.375rem;
    font-size: 0.75rem;
    height: 2.5rem;
    gap: 0.3125rem;
  }
  .scheme-list .scheme img {
    width: 2.125rem;
    height: 2.125rem;
  }
  .pages-left-mobile {
    display: block;
  }
}
@media (min-width: 745px) and (max-width: 1200px) {
  .menu-bar {
    font-size: 1rem;
  }
  .main-container {
    margin-top: 2rem;
  }
  .contents h1 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  .contents p {
    font-size: 1rem;
  }
  .categories {
    font-size: 1.0625rem;
    gap: 1.625rem;
    margin: 2rem 0;
  }
  .categories .category {
    max-width: 9.375rem;
    height: 3.125rem;
  }
  .categories .solution-oriented {
    max-width: 13.375rem;
  }
  .cards {
    margin-top: 2rem;
  }
  .card .card-heading {
    font-size: 1.25rem;
  }
  .card .card-description {
    font-size: 1rem;
    line-height: 1.375rem;
  }
  .funds {
    margin-top: 2rem;
  }
  .funds h1 {
    font-size: 1.75rem;
    margin-bottom: 2.5rem;
  }
  .funds .fund {
    font-size: 1.25rem;
  }
  .funds .fund .risk {
    font-size: 1rem;
    width: 8.9375rem;
    height: calulate-rem(34);
  }
  .scheme-list .scheme {
    flex: 1 1 16.375rem;
    font-size: 1.125rem;
  }
  .scheme-list .scheme img {
    width: 3.375rem;
    height: 3.375rem;
  }
  .pagination {
    font-size: 1.25rem;
  }
}/*# sourceMappingURL=mf_index.css.map */