@import "equations";
body {
    background-color: #000000;
    color: white;
    height: 100vh;
}

.header {
    padding-top: calculate-rem(38);
    padding-left: calculate-rem(20);
    .logo {
        img {
            width: calculate-rem(107);
            height: calculate-rem(37);
        }
    }
    .go-back {
        margin-top: calculate-rem(46);
        img {
            width: calculate-rem(21);
            height: calculate-rem(21);
            margin-right: calculate-rem(13);
        }
        .details {
            .h {
                font-weight: 600;
                font-size: calculate-rem(14);
            }
            .b {
                font-weight: 500;
                font-size: calculate-rem(12);
                color: #ffffffb2;
            }
        }
    }
}

$padding-lef-right: calculate-rem(28);

.contents {
    padding: calculate-rem(0) $padding-lef-right;
    height: 65vh;

    .button-container {
        position: fixed;
        bottom: calculate-rem(20);
        left: 0;
        width: 100%;
        padding: 0 $padding-lef-right;
    }

    .button {
        width: -webkit-fill-available;
        height: calculate-rem(46);
        background-color: #a663ff;
        border-radius: calculate-rem(40);
        font-size: calculate-rem(14);
        font-weight: 600;
    }
}

.no-accounts-view {
    .banner {
        margin-top: calculate-rem(140);
        width: calculate-rem(263);
        height: calculate-rem(267);
    }
    .exclamation {
        width: calculate-rem(22);
        height: calculate-rem(22);
    }
    span {
        font-weight: 600;
        font-size: calculate-rem(14);
        color: #ffa443;
    }
    .helper-container {
        margin-top: calculate-rem(38);
    }
    .help {
        font-weight: 500;
        font-size: calculate-rem(14);
        color: #f5f5f5cc;
        text-align: center;
    }
}

.bank-form {
    .title {
        font-weight: 600;
        font-size: calculate-rem(14);
        margin-bottom: calculate-rem(25);
        margin-top: calculate-rem(38);
    }
    input {
        border-radius: calculate-rem(40);
        height: calculate-rem(41);
        background-color: #cecbff33;
        border: 0px;
        margin-bottom: calculate-rem(14);
        color: #cecbff;
    }
    input::placeholder {
        color: #cecbff;
        font-weight: 600;
        font-size: calculate-rem(14);
    }
    input:focus {
        background-color: #cecbff33;
        outline: none;
        color: #cecbff;
        font-weight: 600;
    }
}
