---
layout: mutual-funds-index-base.njk
title: Labh
---

<div class="main-container">
{% include "_mf_index_common_contents.njk" %}
{% include "_mf_list_container.njk" %}
{% include "_pagination.njk" %}
</div>