---
layout: mutual-funds-index-base.njk
title: Labh
menu: '
<li><a href="/mutual-funds/">Mutual Funds</a></li>
<li><img src="/assets/dote-active.svg" alt="dote-active" /></li>
<li><a href="#" class="active">Hybrid</a></li>
'
---

<div class="main-container">
{% include "_mf_index_common_contents.njk" %}
{% include "_mf_list_container.njk" %}
{% include "_pagination.njk" %}
</div>