---
layout: mutual-funds-index-base.njk
title: Labh
---

<div class="main-container">
    {% include "_mf_index_common_contents.njk" %}
    <div id="index-contents">
        <div class="contents">
            <h1>Get started with Labh Mutual Fund Baskets</h1>
            <p>
                Select expertly picked mutual fund baskets tailored to your
                goals.
            </p>
        </div>

        <div class="cards">
            <div class="card" onclick="window.location.href='#'">
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img
                    src="/assets/calculator-arrow.svg"
                    alt="calculator-arrow"
                />
                <div class="card-heading">EDGE X</div>
                <div class="card-description">
                    A high-performing tax-saving portfolio combining ELSS funds
                    with smart research to optimize savings and ensure steady
                    growth.It offers solid returns while allowing tax savings on
                    up to ₹1,50,000/- annually under Section 80C.
                </div>
            </div>
            <div class="card" onclick="window.location.href='#'">
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img
                    src="/assets/calculator-arrow.svg"
                    alt="calculator-arrow"
                />
                <div class="card-heading">Tax Saver Basket</div>
                <div class="card-description">
                    A high-performing tax-saving portfolio combining ELSS funds
                    with smart research to optimize savings and ensure steady
                    growth.It offers solid returns while allowing tax savings on
                    up to ₹1,50,000/- annually under Section 80C.
                </div>
            </div>
            <div class="card" onclick="window.location.href='#'">
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img
                    src="/assets/calculator-arrow.svg"
                    alt="calculator-arrow"
                />
                <div class="card-heading">Hyper Debt Basket</div>
                <div class="card-description">
                    Lowest risk among all baskets, stable mutual funds with
                    minimal volatility yet high-performing, offering consistent
                    returns. Best suited for conservative investors.
                </div>
            </div>
            <div class="card" onclick="window.location.href='#'">
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img
                    src="/assets/calculator-arrow.svg"
                    alt="calculator-arrow"
                />
                <div class="card-heading">Edge 3</div>
                <div class="card-description">
                    A high-performing combination of Infrastructure, Health, and
                    Focused Funds, specifically designed for rapid wealth
                    creation at a low cost while delivering high returns. Ideal
                    for ambitious beginners seeking aggressive growth.
                </div>
            </div>
            <div class="card" onclick="window.location.href='#'">
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img
                    src="/assets/calculator-arrow.svg"
                    alt="calculator-arrow"
                />
                <div class="card-heading">Hybrid Basket</div>
                <div class="card-description">
                    A well-diversified mix of equity and debt funds delivering
                    promising returns, offering a balance between growth and
                    stability. A decent start for first-time investors.
                </div>
            </div>

            <div class="card" onclick="window.location.href='#'">
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img src="/assets/card-edge-image.svg" alt="edge-image" />
                <img
                    src="/assets/calculator-arrow.svg"
                    alt="calculator-arrow"
                />
                <div class="card-heading">War Chest</div>
                <div class="card-description">
                    Short term Basket designed to invest in defense sector,
                    pharma and gold.
                </div>
            </div>
        </div>

        <div class="funds">
            <h1>Listed Funds</h1>
            <div class="funds-list" id="funds-list"></div>
        </div>
    </div>

    <div class="categories-fund-list d-none">
        <div class="funds">
            <h1>Listed Funds</h1>
            <div class="funds-list" id="funds-list2"></div>
        </div>
    </div>
</div>
